<template>
  <div>
    <div class='intro-y flex items-center mt-8 mb-3'>
      <h2 class='text-lg font-medium mr-auto'>{{ $t('search') }}</h2>
    </div>
    <div class='box mb-2 p-2'>
      <home-filter
        v-model='types.type'
        :filter='filter'
        @startFilter='startFilter'
        @updateFilter='updateFilter'
      />
    </div>
    <app-table
      :headers='headers'
      :items='items'
    >
      <template #item.actions='{ item }'>
        <button class='btn btn-primary' @click='viewPage(item)'>
          <eye-icon size='14' />
        </button>
      </template>
      <template #not-data>
        <div style='text-align: center'>
          {{ $t('notFound') }}
        </div>
      </template>
    </app-table>
  </div>
</template>

<script>
import AppTable from '../../../components/ui-component/app-table/AppTable'
import Home from '../../../service/pages/Home'
import HomeFilter from '../../../components/pages/home-filter/HomeFilter'
import { debounce } from '../../../utils/helperFunction'
import refreshBalanceMixin from './refresh-balance-mixin'

const FILTER = {
  first_name: null,
  last_name: null,
  middle_name: null,
  passport_series: null,
  passport_number: null,
  pinfl: null,
}

export default {
  name: 'Home',
  components: { HomeFilter, AppTable },
  data() {
    return {
      items: [],
      loading: false,
      filter: {...FILTER},
      types: {
        type: null
      }
    }
  },
  mixins: [refreshBalanceMixin],
  methods: {
    updateFilter() {
      this.items = []
    },
    async getHome() {
      this.$showLoading()
      try {
        const { data: { data } } = await Home.getHome(this.filter)
        this.items = data
      } catch (err) {
        this.$setErrorFromServer({ error: err })
      } finally {
        this.$clearLoading()
      }
    },
    startFilter: debounce(function() {
      this.$router.replace({ query: { ...this.filter } })
      this.getHome()
    }, 300),
    viewPage(item) {
      this.filter.type = this.types.type
      let routeData = this.$router.resolve({
        name: 'home-view',
        params: { id: item.id, user: 'search' },
        query: { ...this.filter, pinfl: item.pinfl }
      })
      window.open(routeData.href, '_blank')
      setTimeout(() => {
        this.$store.dispatch('getUser')
      }, 5000)
    }
  },
  computed: {
    headers() {
      return [
        { text: this.$t('first_name'), value: 'first_name' },
        { text: this.$t('last_name'), value: 'last_name' },
        { text: this.$t('middle_name'), value: 'middle_name' },
        { text: this.$t('passport_series'), value: 'passport_series' },
        { text: this.$t('passport_number'), value: 'passport_number' },
        { text: this.$t('tin'), value: 'inn' },
        { text: this.$t('actions'), value: 'actions' }
      ]
    }
  }
}
</script>

<style scoped>

</style>
