<template>
  <div class='container-view'>
    <div style='margin-top: -15px; margin-bottom: 15px;'>
      <button class='btn btn-primary mr-2' @click='printInfo'>
        <printer-icon size='16' />
      </button>
      <button class='btn btn-primary mr-2' @click='downloadPdf'>
        <download-icon size='16' />
      </button>
    </div>
    <div class='block__wrapper'>

      <div class='block__header'>

<!--        <svg xmlns='http://www.w3.org/2000/svg'-->
<!--             xmlns:xlink='http://www.w3.org/1999/xlink' width='100%' height='100%' viewBox='0 0 561.923 109.115'>-->
<!--          <defs>-->
<!--            <linearGradient id='linear-gradient' x1='-2.386' y1='3.369' x2='0.997' y2='0.006'-->
<!--                            gradientUnits='objectBoundingBox'>-->
<!--              <stop offset='0' stop-color='#0094d7' />-->
<!--              <stop offset='1' stop-color='#001540' />-->
<!--            </linearGradient>-->
<!--            <linearGradient id='linear-gradient-2' x1='-0.066' y1='0.962' x2='0.634' y2='0.391'-->
<!--                            xlink:href='#linear-gradient' />-->
<!--            <linearGradient id='linear-gradient-3' x1='0.189' y1='0.873' x2='0.664' y2='0.303'-->
<!--                            gradientUnits='objectBoundingBox'>-->
<!--              <stop offset='0' stop-color='#00dd9c' />-->
<!--              <stop offset='0.964' stop-color='#0093d8' />-->
<!--            </linearGradient>-->
<!--            <linearGradient id='linear-gradient-4' x1='0.5' y1='1' x2='0.5' y2='0' xlink:href='#linear-gradient-3' />-->
<!--          </defs>-->
<!--          <g id='Group_5' data-name='Group 5' transform='translate(-15.5 -17.192)'>-->
<!--            <g id='Group_4' data-name='Group 4' transform='translate(-250 -310.319)'>-->
<!--              <path id='Rectangle_19' data-name='Rectangle 19'-->
<!--                    d='M2.266,0h9.405A2.229,2.229,0,0,1,13.9,2.229v9.442A2.229,2.229,0,0,1,11.672,13.9h-.037A11.635,11.635,0,0,1,0,2.266v0A2.266,2.266,0,0,1,2.266,0Z'-->
<!--                    transform='translate(490.871 382.857)' fill='url(#linear-gradient)' />-->
<!--              <path id='Path_1' data-name='Path 1'-->
<!--                    d='M504.741,423.151v11.874a1.783,1.783,0,0,1-.045.4,1.834,1.834,0,0,1-1.387,1.387,1.787,1.787,0,0,1-.4.045H491.03a1.836,1.836,0,0,1-1.836-1.836v-6.848a10.41,10.41,0,0,0-3.049-7.361h0a10.41,10.41,0,0,0-7.361-3.049h-6.852c-1.341,0-1.836-.333-1.836-1.836v-6.855a10.4,10.4,0,0,0-3.047-7.356h0a10.4,10.4,0,0,0-7.356-3.047h-6.857A1.836,1.836,0,0,1,451,396.836V384.962a1.837,1.837,0,0,1,1.836-1.836H464.71a1.836,1.836,0,0,1,1.836,1.836v7.23a10.029,10.029,0,0,0,2.938,7.091h0a10.029,10.029,0,0,0,7.091,2.937h2.135a6.932,6.932,0,0,1,6.932,6.932v2.136a10.027,10.027,0,0,0,2.937,7.09h0a10.026,10.026,0,0,0,7.09,2.937H502.9A1.836,1.836,0,0,1,504.741,423.151Z'-->
<!--                    transform='translate(0 -0.235)' fill='url(#linear-gradient-2)' />-->
<!--              <path id='Path_2' data-name='Path 2'-->
<!--                    d='M597.3,403.054v11.468a1.774,1.774,0,0,1-1.773,1.773H584.059a1.774,1.774,0,0,1-1.773-1.773v-6.453a10.215,10.215,0,0,0-2.992-7.223h0a10.215,10.215,0,0,0-7.223-2.992h-6.454a1.773,1.773,0,0,1-1.773-1.773V384.613a1.773,1.773,0,0,1,1.773-1.773h11.468a1.773,1.773,0,0,1,1.773,1.773v7.151a9.516,9.516,0,0,0,2.787,6.729h0a9.516,9.516,0,0,0,6.729,2.787h7.152A1.773,1.773,0,0,1,597.3,403.054Z'-->
<!--                    transform='translate(-92.55)' fill='url(#linear-gradient-3)' />-->
<!--              <g id='Group_2' data-name='Group 2' transform='translate(513.786 396.992)'>-->
<!--                <path id='Path_3' data-name='Path 3'-->
<!--                      d='M821.552,479.609a6.2,6.2,0,0,1-2.535,5.286,11.623,11.623,0,0,1-7.051,1.882H800.122V461.53h10.769q4.569,0,6.89,1.577a5.3,5.3,0,0,1,2.32,4.695,5.632,5.632,0,0,1-1.209,3.673,6.139,6.139,0,0,1-3.61,2.007,7.664,7.664,0,0,1,4.659,1.962A5.619,5.619,0,0,1,821.552,479.609Zm-6.146-11.2a2.837,2.837,0,0,0-1.192-2.58,6.457,6.457,0,0,0-3.485-.77H804.8v6.827h5.949a5.836,5.836,0,0,0,3.53-.86A3.079,3.079,0,0,0,815.406,468.41Zm1.469,10.822q0-3.852-5.483-3.852H804.8v7.866h6.809a6.434,6.434,0,0,0,4-1A3.612,3.612,0,0,0,816.875,479.233Z'-->
<!--                      transform='translate(-800.122 -461.53)' fill='url(#linear-gradient-4)' />-->
<!--                <path id='Path_4' data-name='Path 4' d='M961.648,483.121v3.655H943.694V461.53h4.677v21.591Z'-->
<!--                      transform='translate(-917.874 -461.53)' fill='url(#linear-gradient-4)' />-->
<!--                <path id='Path_5' data-name='Path 5'-->
<!--                      d='M1074.042,487.135a13.151,13.151,0,0,1-5.725-1.138,8.063,8.063,0,0,1-3.619-3.315,10.464,10.464,0,0,1-1.246-5.277V461.53h4.659v15.517a6.713,6.713,0,0,0,1.532,4.766,5.865,5.865,0,0,0,4.489,1.63,6.2,6.2,0,0,0,4.658-1.693,6.745,6.745,0,0,0,1.649-4.9V461.53h4.659v15.589a10.405,10.405,0,0,1-1.326,5.393,8.661,8.661,0,0,1-3.8,3.431A13.552,13.552,0,0,1,1074.042,487.135Z'-->
<!--                      transform='translate(-1016.095 -461.53)' fill='url(#linear-gradient-4)' />-->
<!--                <path id='Path_6' data-name='Path 6'-->
<!--                      d='M1232.361,483.121v3.655h-20.355V461.53h19.62v3.655h-14.943v6.934h13.869v3.637h-13.869v7.364Z'-->
<!--                      transform='translate(-1137.933 -461.53)' fill='url(#linear-gradient-4)' />-->
<!--              </g>-->
<!--              <g id='Group_3' data-name='Group 3' transform='translate(612.167 410.507)'>-->
<!--                <path id='Path_7' data-name='Path 7' d='M1348.889,536.68v1.479h-1.72V536.68Zm0,3.231v8.7h-1.72v-8.7Z'-->
<!--                      transform='translate(-1347.169 -536.68)' fill='url(#linear-gradient-4)' />-->
<!--                <path id='Path_8' data-name='Path 8'-->
<!--                      d='M1370.84,557.7v4.912h-1.72V555.8q0-.748-.012-1.2t-.036-.687h1.624q.016.137.032.41t.028.587q.012.313.02.571h.024a3.25,3.25,0,0,1,1.157-1.33,3.133,3.133,0,0,1,1.632-.4,2.672,2.672,0,0,1,2.1.772,3.5,3.5,0,0,1,.687,2.379v5.707h-1.72v-5.305a2.9,2.9,0,0,0-.394-1.728,1.558,1.558,0,0,0-1.318-.515,1.866,1.866,0,0,0-1.535.711A2.989,2.989,0,0,0,1370.84,557.7Z'-->
<!--                      transform='translate(-1365.132 -550.683)' fill='url(#linear-gradient-4)' />-->
<!--                <path id='Path_9' data-name='Path 9'-->
<!--                      d='M1419.893,541.161v7.484h-1.712v-7.484h-1.238v-1.214h1.238v-.957a2.313,2.313,0,0,1,.559-1.728,2.368,2.368,0,0,1,1.7-.539,5.657,5.657,0,0,1,1.158.113v1.214a3.765,3.765,0,0,0-.651-.064,1.058,1.058,0,0,0-.808.265,1.4,1.4,0,0,0-.245.949v.748h1.7v1.214Z'-->
<!--                      transform='translate(-1404.395 -536.716)' fill='url(#linear-gradient-4)' />-->
<!--                <path id='Path_10' data-name='Path 10'-->
<!--                      d='M1454.547,558.256a4.8,4.8,0,0,1-1.061,3.372,3.916,3.916,0,0,1-3.022,1.146,3.76,3.76,0,0,1-2.986-1.178,4.906,4.906,0,0,1-1.033-3.34,4.848,4.848,0,0,1,1.037-3.352,4.624,4.624,0,0,1,6.065-.032A4.943,4.943,0,0,1,1454.547,558.256Zm-1.8,0a4.588,4.588,0,0,0-.522-2.5,1.887,1.887,0,0,0-1.688-.776,1.964,1.964,0,0,0-1.741.8,4.413,4.413,0,0,0-.55,2.472,4.525,4.525,0,0,0,.542,2.46,1.839,1.839,0,0,0,1.652.828,1.974,1.974,0,0,0,1.765-.8A4.505,4.505,0,0,0,1452.746,558.256Z'-->
<!--                      transform='translate(-1428.59 -550.683)' fill='url(#linear-gradient-4)' />-->
<!--                <path id='Path_11' data-name='Path 11' d='M1504.715,591.927v1.994H1502.9v-1.994Z'-->
<!--                      transform='translate(-1474.892 -581.991)' fill='url(#linear-gradient-4)' />-->
<!--              </g>-->
<!--            </g>-->
<!--            <path id='Path_14' data-name='Path 14' d='M16,113.077V17.692H576.923v95.385' fill='none' stroke='#e4ecf6'-->
<!--                  stroke-width='1' />-->
<!--            <path id='Path_18' data-name='Path 18'-->
<!--                  d='M619.844,416.675v19.2a2.969,2.969,0,0,1-2.968,2.968h-19.2a2.969,2.969,0,0,1-2.968-2.968v-10.8a17.1,17.1,0,0,0-5.008-12.09h0a17.1,17.1,0,0,0-12.09-5.008h-10.8A2.968,2.968,0,0,1,563.844,405v-19.2a2.968,2.968,0,0,1,2.968-2.968h19.2a2.968,2.968,0,0,1,2.968,2.968v11.97a15.929,15.929,0,0,0,4.665,11.264h0a15.929,15.929,0,0,0,11.264,4.666h11.971A2.968,2.968,0,0,1,619.844,416.675Z'-->
<!--                  transform='translate(-53.844 -354.72)' fill='#e4ecf6' opacity='0.5' />-->
<!--            <path id='Path_17' data-name='Path 17'-->
<!--                  d='M563.844,416.675v19.2a2.969,2.969,0,0,0,2.968,2.968h19.2a2.969,2.969,0,0,0,2.968-2.968v-10.8a17.1,17.1,0,0,1,5.008-12.09h0a17.1,17.1,0,0,1,12.09-5.008h10.8A2.968,2.968,0,0,0,619.844,405v-19.2a2.968,2.968,0,0,0-2.968-2.968h-19.2a2.968,2.968,0,0,0-2.968,2.968v11.97a15.929,15.929,0,0,1-4.665,11.264h0a15.929,15.929,0,0,1-11.264,4.666H566.811A2.968,2.968,0,0,0,563.844,416.675Z'-->
<!--                  transform='translate(-537.844 -354.72)' fill='#e4ecf6' opacity='0.5' />-->
<!--          </g>-->
<!--        </svg>-->
        <img
          style='width: 100%; height: 100%'
          class='mb-10'
          src='../../../assets/img/pdf_logo.svg'
          alt=''
        >
      </div>

      <div class='block__body info-view-home-table'>

        <div class='table-block' style='margin-bottom: 30px; overflow-x: auto'>
          <table style='border-spacing: 8px;
                width: calc(100% - 3px);
                position: relative'
          >
            <tbody>
            <tr v-for='(item, userIndex) in infoUser' :key='`user${userIndex}`'>
              <td style='width: 20px'>
                <div class='block__bg'
                     style='width: 20px !important;
                          padding: 8px 20px 8px 14px;
                          border-radius: 4px'
                >
                  {{ userIndex + 1 }}
                </div>
              </td>
              <td width='131'>
                <div
                  class='block__bg'
                  style='width: 241px;
                          padding: 8px 10px;
                          border-radius: 4px;
              '
                  v-if='item.text'
                >
                  {{ item.text }}
                </div>
              </td>
              <td colspan='6' v-if="item.value === 'gender'">
                <input disabled style='border-radius: 4px; min-width: 120px' type='text' :value='genderText(view[item.value])'>
              </td>
              <td colspan='6' v-if="item.value === 'passport' && (view.passport_series || view.passport_number)">
                <input disabled style='border-radius: 4px; min-width: 120px' type='text'
                       :value="view.passport_series + ' ' + view.passport_number">
              </td>
              <td colspan='6' v-if="item.value !== 'gender' && item.value !== 'passport'">
                <input disabled style='border-radius: 4px; min-width: 120px' type='text' :value='view[item.value]'>
              </td>
            </tr>
            </tbody>
          </table>
        </div>

        <div class='table-block' style='margin-bottom: 30px; width: 100%;'>
          <table style='border-spacing: 0; width: 100%'>
            <thead style='width: 100%'>
            <tr>
              <th>№</th>
              <th
                style='text-align: start'
                v-for='(tableHeader, headerIndex) in tableHeaders'
                :key='`header${headerIndex}`'
              >{{ tableHeader.text }}
              </th>
            </tr>
            </thead>
            <tbody
              style='border-spacing: 8px;
                width: calc(100% - 3px);
                position: relative; left: -1px'
            >
            <tr
              v-for='(tableBody, bodyIndex) in view.shops'
              :key='`body${bodyIndex}`'
            >
              <td width='24'>
                <div class='block__bg'
                     style='width: 4px;
                     padding: 8px 20px 8px 14px;
                     border-radius: 4px;
              '
                >
                  {{ bodyIndex + 1 }}
                </div>
              </td>
              <td
                style='height: 100%'
                v-for='(bodyWidthHeader, bodyWidthHeaderIndex) in tableHeaders'
                :key='`headerBody${bodyWidthHeaderIndex}`'
              >
<!--                <input-->
<!--                  type='text'-->
<!--                  :value="tableBody[bodyWidthHeader['value']]"-->
<!--                  disabled-->
<!--                >-->
                <div class='input' style='white-space: nowrap' v-if="bodyWidthHeader['value'] === 'phone'">
                  {{ phoneFormatView(tableBody[bodyWidthHeader['value']]) }}
                </div>
                <div class='input' v-else>
                  {{ tableBody[bodyWidthHeader['value']] }}
                </div>
              </td>
            </tr>

            </tbody>
          </table>
        </div>

        <div class='block__text'
             style='background-color: #EBF2FA;
           padding: 10px;
           margin-bottom: 4px;'
        >
          <h6>{{ $t('averageMonthlyPayment') }}</h6>
        </div>

        <div class='block__text'>
          <input
            v-if='view.avg_monthly_payment > 0'
            type='text'
            style='height: 24px;
            background-color: #f5f8fd;
            padding: 0 5px;
            border-radius: 2px; text-align: center'
            :value='view.avg_monthly_payment'
            disabled
          >
          <input
            v-else
            type='text'
            style='height: 24px;
                background-color: #f5f8fd;
                padding: 0 5px;
                border-radius: 2px; text-align: center'
            :value='0'
            disabled
          >
        </div>


      </div>

      <div class='block__footer'>
        <svg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%' viewBox='0 0 561.923 95.885'>
          <g id='Group_5' data-name='Group 5' transform='translate(-15.5 -729.692)'>
            <path id='Path_15' data-name='Path 15' d='M16,113.077V17.692H576.923v95.385'
                  transform='translate(592.923 842.769) rotate(180)' fill='none' stroke='#e4ecf6' stroke-width='1' />
            <path id='Path_12' data-name='Path 12'
                  d='M619.844,416.675v19.2a2.969,2.969,0,0,1-2.968,2.968h-19.2a2.969,2.969,0,0,1-2.968-2.968v-10.8a17.1,17.1,0,0,0-5.008-12.09h0a17.1,17.1,0,0,0-12.09-5.008h-10.8A2.968,2.968,0,0,1,563.844,405v-19.2a2.968,2.968,0,0,1,2.968-2.968h19.2a2.968,2.968,0,0,1,2.968,2.968v11.97a15.929,15.929,0,0,0,4.665,11.264h0a15.929,15.929,0,0,0,11.264,4.666h11.971A2.968,2.968,0,0,1,619.844,416.675Z'
                  transform='translate(-53.844 376.28)' fill='#e4ecf6' opacity='0.5' />
            <path id='Path_16' data-name='Path 16'
                  d='M563.844,416.675v19.2a2.969,2.969,0,0,0,2.968,2.968h19.2a2.969,2.969,0,0,0,2.968-2.968v-10.8a17.1,17.1,0,0,1,5.008-12.09h0a17.1,17.1,0,0,1,12.09-5.008h10.8A2.968,2.968,0,0,0,619.844,405v-19.2a2.968,2.968,0,0,0-2.968-2.968h-19.2a2.968,2.968,0,0,0-2.968,2.968v11.97a15.929,15.929,0,0,1-4.665,11.264h0a15.929,15.929,0,0,1-11.264,4.666H566.811A2.968,2.968,0,0,0,563.844,416.675Z'
                  transform='translate(-537.844 376.28)' fill='#e4ecf6' opacity='0.5' />
          </g>
        </svg>
      </div>

    </div>

  </div>
</template>

<script>
import './home.css'
import Home from '../../../service/pages/Home'
import { getValueByHaveKey, downloadBlobFile, phoneFormat } from '../../../utils/helperFunction'
import ShopCabinet from '../../../service/pages/ShopCabinet'
import BlackListUsers from '../../../service/pages/BlackListUsers'

export default {
  name: 'view',
  data() {
    return {
      view: {},
      filter: {
        first_name: null,
        last_name: null,
        middle_name: null,
        passport_series: null,
        passport_number: null,
        phone: null
      },
      monthlyPayment: 0
    }
  },
  computed: {
    infoUser() {
      return [
        { text: this.$t('first_name'), value: 'first_name' },
        { text: this.$t('dateBirth'), value: 'birthday' },
        { text: this.$t('borrowerLastName'), value: 'last_name' },
        { text: this.$t('borrowerMiddleName'), value: 'middle_name' },
        { text: this.$t('gender'), value: 'gender' },
        { text: this.$t('tin'), value: 'inn' },
        { text: this.$t('pinfl'), value: 'pinfl' },
        { text: this.$t('passport_series'), value: 'passport' }
      ]
    },
    tableHeaders() {
      return [
        { text: this.$t('nameShop'), value: 'shop_company_name' },
        { text: this.$t('companyName'), value: 'shop_brand_name' },
        { text: this.$t('credit_amount'), value: 'credit_amount' },
        { text: this.$t('overdueAmount'), value: 'credit_debt' },
        { text: this.$t('averageMonthlyPayment'), value: 'monthly_payment' },
        // { text: this.$t('credit_started_date'), value: 'credit_started_date' },
        { text: this.$t('last_paid_date'), value: 'last_paid_date' },
        { text: this.$t('comment'), value: 'comment' },
        { text: this.$t('phone'), value: 'phone' },
        { text: this.$t('address'), value: 'address' },
      ]
    }
  },
  created() {
    this.checkUser()
  },
  methods: {
    phoneFormatView(val) {
      return phoneFormat(val)
    },
    checkUser() {
      const { user } = this.$route.params
      if(user === 'shop-babinet') {
        this.getViewShopCabinet()
      }
      if(user === 'search') {
        this.getView()
      }
      if(user === 'admin-blacklist') {
        this.getBlacklist()
      }
    },
    printInfo() {
      window.print()
    },
    async downloadPdf() {
      const { id } = this.$route.params
      try {
        const data = await BlackListUsers.downloadPdf(id)
        if(data.data)
          downloadBlobFile(data.data,'info.pdf')
      } catch (err) {
        this.$setErrorFromServer({ error: err })
      }
    },
    async getBlacklist() {
      const { id } = this.$route.params
      try {
        const { data: { data } } = await BlackListUsers.getOne(id)
        this.view = data
      } catch (err) {
        this.$setErrorFromServer({ error: err })
      }
    },
    async getView() {
      this.$clearLoading()
      let filters = {}
      let arr = []
      const { params, query } = this.$route
      this.filter = getValueByHaveKey(this.filter, query)
      Object.keys(this.filter).forEach(p => {
        if (this.filter[p]) {
          arr.push(this.filter[p])
        }
      })
      if (query.type)
        filters.filter_type = query.type
      filters.filter_text = arr.join('.')
      try {
        const { data: { data } } = await Home.viewHome(params.id,
          { filter_type: filters.filter_type, filter_text: filters.filter_text, pinfl: query.pinfl })
        this.view = data
        // this.$store.dispatch('getUser')
      } catch (err) {
        this.$setErrorFromServer({ error: err })
      } finally {
        this.$clearLoading()
      }
    },
    async getViewShopCabinet() {
      const { id } = this.$route.params
      try {
        const { data: { data } } = await ShopCabinet.getOneShopCabinet(id)
        this.view = data
      } catch (err) {
        this.$setErrorFromServer({ error: err })
      }
    },
    genderText(val) {
      if (val === 'f') {
        return this.$t('female')
      }
      if (val === 'm') {
        return this.$t('male')
      }
    },
  },
}
</script>

<style scoped>

</style>
