<template>
  <div class='box p-3 grid grid-cols-12 gap-x-4 box p-4'>

    <div class='intro-y col-span-12 lg:col-span-3'>
      <date-picker
        v-model='filter.from'
        :placeholder="$t('from_date')"
        @change='filterShop'
      />
    </div>
    <div class='intro-y col-span-12 lg:col-span-3'>
      <date-picker
        v-model='filter.to'
        :placeholder="$t('to_date')"
        @change='filterShop'
      />
    </div>
    <div class='intro-y col-span-12 lg:col-span-3' v-if="userType === 'shop'">
      <app-select
        :items='typeList'
        :placeholder="$t('paymentType')"
        v-model='filter.payment_type'
        item-value='key'
        clearable
        item-text='name'
        @change='filterShop'
      />
    </div>
    <div class='intro-y col-span-12 lg:col-span-3' v-if="userType === 'shop'">
      <app-select
        clearable
        :items='statusList'
        :placeholder="$t('status')"
        item-text='text'
        item-value='value'
        v-model='filter.status'
        @change='filterShop'
      />
    </div>
    <div class='intro-y col-span-12 lg:col-span-3' v-if="userType === 'admin'">
      <app-select
        :items='paymentTypeList'
        :placeholder="$t('paymentType')"
        item-text='name'
        item-value='key'
        v-model='shop.shops'
        clearable
        multiple
        @change='typeFilter'
      />
    </div>
  </div>
</template>

<script>
import Payment from '../../../service/pages/Payment'
import AppSelect from '../../../components/ui-component/app-select/AppSelect'
import DatePicker from '../../../components/ui-component/form/DatePicker'
import { service } from '../../../utils/LocalStorageService'
import { debounce } from '../../../utils/helperFunction'

export default {
  name: 'FilterTransaction',
  components: { DatePicker, AppSelect },
  props: {
    filter: {
      type: Object,
      default() {
        return {}
      }
    },
    shop: {
      type: Object,
      default() {
        return {
          shops: []
        }
      }
    }
  },
  data() {
    return {
      typeList: [],
      // paymentTypeList: []
    }
  },
  created() {
    this.getPaymentTypes()
    // this.getPaymentType()
  },
  methods: {
    filterShop() {
      this.$emit('filterShop')
    },
    typeFilter: debounce(function() {
      this.filterShop()
    }, 1000),
    async getPaymentTypes() {
      try {
        const { data: { data } } = await Payment.getPaymentType()
        this.typeList = data
      } catch (err) {
        this.$setErrorFromServer({ error: err })
      }
    },
    // async getPaymentType() {
    //   try {
    //     const { data: { data } } = await Payment.getPaymentType()
    //     this.paymentTypeList = data
    //   } catch (err) {
    //     this.$setErrorFromServer({ error: err })
    //   }
    // }
  },
  computed: {
    paymentTypeList() {
      return [
        { key: 'cash', name: this.$t('cash') },
        { key: 'terminal', name: this.$t('terminal') },
        { key: 'bank', name: this.$t('bank') },
        { key: 'myuzcard', name: 'MyUzcard' },
      ]
    },
    statusList() {
      return [
        { text: this.$t('new'), value: 1 },
        { text: this.$t('success'), value: 10 },
        { text: this.$t('error'), value: 2 },
        { text: this.$t('canceled'), value: 0 }
      ]
    },
    userType() {
      return service.getUserType()
    }
  }
}
</script>

<style scoped>

</style>
