<template>
  <div>
    <div class='intro-y flex items-center mt-8'>
      <h2 class='text-lg font-medium mr-auto'>{{ $t('transactions') }}</h2>
      <div>
        <app-button :loading='exelLoading' @click='openExelDialog' class='btn-outline-warning'>
          <file-icon size='14' class='mr-2' />
          {{ $t('exportTo') }}
        </app-button>
      </div>
    </div>
    <filter-transaction
      class='mt-2'
      @filterShop='filterShop'
      :filter='params'
      :shop='shop'
    />
    <app-table
      :headers='headers'
      :items='items'
    >
      <template #item.cancelPaid='{ item }'>
        <app-button v-if="item.status === 10" @click='cancelPayment(item)'>
          <repeat-icon size='16' />
        </app-button>
      </template>
      <template #item.status='{ item }'>
        <button class="btn btn-warning" v-if='item.status === 1' style='white-space: nowrap'>
          {{ item.status_name }}
        </button>
        <button class="btn btn-outline-success" v-if='item.status === 10' style='white-space: nowrap'>
          {{ item.status_name }}
        </button>
        <button class="btn btn-outline-danger" v-if='item.status === 2' style='white-space: nowrap'>
          {{ item.status_name }}
        </button>
        <button class="btn btn-danger" v-if='item.status === 0' style='white-space: nowrap'>
          {{ item.status_name }}
        </button>
      </template>
      <template>

      </template>
    </app-table>
    <app-pagination
      :total='pageCount'
      @input='selectedPage'
    />
  </div>
</template>

<script>
import AppTable from '../../../components/ui-component/app-table/AppTable'
import AppPagination from '../../../components/ui-component/app-pagination/AppPagination'
import { debounce, downloadBlobFile } from '../../../utils/helperFunction'
import Transactions from '../../../service/pages/Transactions'
import FilterTransaction from './filter'
import { service } from '../../../utils/LocalStorageService'
import AppButton from '../../../components/ui-component/app-button/AppButton'

export default {
  components: { AppButton, FilterTransaction, AppPagination, AppTable },
  data() {
    return {
      items: [],
      pageCount: 0,
      params: {
        page: 1,
        from: '',
        to: '',
        payment_type: null,
        status: null
      },
      shop: {
        shops: []
      },
      loading: false,
      exelLoading: false
    }
  },
  computed: {
    headers() {
      return [
        { text: this.$t('paymentAmount'), value: 'amount' },
        { text: this.$t('balance'), value: 'balance' },
        { text: this.$t('paymentType'), value: 'payment_type_name' },
        { text: this.$t('paid'), value: 'created_by' },
        { text: this.$t('paidDate'), value: 'paid_at' },
        { text: this.$t('status'), value: 'status' }
      ]
    }
  },
  created() {
    this.getTransactions()
    this.addHeaderCancelPaid()
  },
  methods: {
    async openExelDialog() {
      try {
        let data = {}
        const params = {
          excel: true
        }
        const userType = service.getUserType()
        if(userType === 'admin') {
          data = await Transactions.getAdminTransactions(params)
        } else {
          data = await Transactions.getShopTransactions(params)
        }
        if(data.data)
          downloadBlobFile(data.data, 'transactions.xlsx')
      } catch (err) {
        this.$setErrorFromServer({error: err})
      }
    },
    async cancelPayment(item) {
      item.isLoading = true
      try {
        await Transactions.cancelPayment(item.id)
        this.$successNotify({
          text: this.$t('paymentWasSuccessfullyCanceled')
        })
        await this.getTransactions()
      } catch (err) {
        this.$setErrorFromServer({error: err})
      } finally {
        item.isLoading = false
      }
    },
    async getTransactions() {
      let params = {}
      Object.keys(this.params).forEach(p => {
        if (this.params[p]) {
          params[p] = this.params[p]
        }
      })
      if (this.shop.shops.length) {
        params.shops = this.shop.shops
      }
      this.$showLoading()
      const userType = service.getUserType()
      try {
        if(userType === 'admin') {
          const { data: { data, links } } = await Transactions.getAdminTransactions({ ...params })
          data.map(p => {
            p.isLoading = false
            return p
          })
          this.items = data
          this.pageCount = links.last_page
        }
        if(userType === 'shop') {
          const { data: { data, links } } = await Transactions.getShopTransactions({ ...params })
          this.items = data
          this.pageCount = links.last_page
        }
      } catch (err) {
        this.$setErrorFromServer({ error: err })
      } finally {
        this.$clearLoading()
      }
    },
    addHeaderCancelPaid() {
      const userType = service.getUserType()
      if (userType === 'admin') {
        this.headers.splice(0, 0, { text: this.$t('branch'), value: 'shop_name' })
        this.headers.splice(6, 0, { text: this.$t('cancelPaid'), value: 'cancelPaid' })
      }
    },
    selectedPage(val) {
      this.params.page = val
      this.getTransactions()
    },
    filterShop: debounce(function() {
      this.getTransactions()
    }, 300)
  }
}
</script>

<style scoped>

</style>
