<template>
  <div id="success-notification" class="p-5">
    <div class="preview">
      <div class="text-center">
        <div
          id="success-notification-content"
          class="toastify-content hidden flex"
        >
          <CheckCircleIcon class="text-theme-9" v-if="notify.type === 'success'" />
          <XCircleIcon class='text-theme-6' v-if="notify.type === 'error'" />
          <div class="ml-4 mr-4">
            <div class="text-gray-600 mt-1">
              {{ notify['text'] }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'

export default {
  name: 'Notification',
  computed: {
    ...mapState(['notify'])
  }
}
</script>

<style scoped>

</style>
