<template>
    <div class='box grid grid-cols-12 gap-x-4 box p-3 pb-2'>
      <div class='intro-y col-span-12 lg:col-span-4'>
        <app-select
          v-model='filter.shop_id'
          :placeholder="$t('nameShop')"
          @change='filterShop'
          :items='typeList'
          clearable
          item-text='company_name'
          item-value='id'
          filterable
        />
      </div>
      <div class='intro-y col-span-12 lg:col-span-3'>
        <app-input
          v-model='filter.first_name'
          :placeholder="$t('first_name')"
          @input='filterShop'
        />
      </div>
      <div class='intro-y col-span-12 lg:col-span-3'>
        <app-input
          v-model='filter.last_name'
          :placeholder="$t('last_name')"
          @input='filterShop'
        />
      </div>
      <button class='btn' @click='isFilter = !isFilter' style='height: 38px'>
        <chevron-down-icon style='transition: .3s all' size='18' :class='{ show: isFilter }' />
      </button>
      <button class='btn btn-danger' @click='clearFilter' style='height: 38px'>
        <x-icon size='18' />
      </button>
    </div>
    <div class='box grid grid-cols-12 gap-x-4 box p-3 pt-0' style='transition: .5s all' v-if='isFilter'>
      <div class='intro-y col-span-12 lg:col-span-3'>
        <app-input
          v-model='filter.middle_name'
          :placeholder="$t('middle_name')"
          @input='filterShop'
        />
      </div>
      <div class='intro-y col-span-12 lg:col-span-3'>
        <app-input
          v-model='filter.passport_series'
          :placeholder="$t('passport_series')"
          @input='filterShop'
        />
      </div>
      <div class='intro-y col-span-12 lg:col-span-3'>
        <app-input
          v-model='filter.passport_number'
          :placeholder="$t('passport_number')"
          @input='filterShop'
        />
      </div>
      <div class='intro-y col-span-12 lg:col-span-3'>
        <app-input
          v-model='filter.pinfl'
          :placeholder="$t('pinfl')"
          @input='filterShop'
        />
      </div>
    </div>
</template>

<script>
import AppSelect from '../../../components/ui-component/app-select/AppSelect'
import AppInput from '../../../components/ui-component/form/AppInput'
import Shop from '../../../service/pages/Shop'

export default {
  name: 'FilterBlackListUser',
  components: { AppInput, AppSelect },
  props: {
    filter: {
      type: Object,
      default() {
        return {}
      }
    }
  },
  data() {
    return {
      typeList: [],
      isFilter: false
    }
  },
  created() {
    this.getShopList()
  },
  methods: {
    filterShop() {
      this.$emit('startFilter')
    },
    async getShopList() {
      try {
        const { data: { data } } = await Shop.getList()
        this.typeList = data
      } catch (err) {
        this.$setErrorFromServer({ error: err })
      }
    },
    clearFilter() {
      this.$emit('clearFilter')
      this.$emit('startFilter')
    }
  }
}
</script>

<style scoped>
.show {
  transform: rotate(180deg);
}
</style>
