<template>
  <black-list-users-form />
</template>

<script>
import BlackListUser from './index'
import BlackListUsersForm from '../../../components/pages/black-list-user/BlackListUser'

export default {
  name: 'form',
  components: { BlackListUsersForm, BlackListUser }
}
</script>

<style scoped>

</style>
