<template>
  <div>
    <div class='intro-y flex items-center mt-8'>
      <h2 class='text-lg font-medium mr-auto'>{{ $t('blacklist') }}</h2>


      <a
        class='btn btn-outline-warning mr-2 mb-2'
        href='https://api.blueinfo.uz/storage/exapmle.xlsx'
        download
      >
        <download-icon size='16' class='mr-2' />
        {{ $t('importTemplate') }}
      </a>
      <div class='mb-2 mr-2'>
        <app-button :loading='exelLoading' @click='openExelDialog' class='btn-outline-warning'>
          <file-icon size='16' class='mr-2' />
          {{ $t('importExel') }}
        </app-button>
      </div>
      <button class='btn btn-primary mr-1 mb-2' @click='openDialog'>
        {{ $t('create') }}
      </button>
    </div>
    <div class='box'>
      <filter-black-list-user @clearFilter='clearFilter' @startFilter='startFilter' :filter='params' />
    </div>
    <app-table
      :headers='headers'
      :items='items'
    >
      <template #item.passport='{ item }'>
        <div>
          {{ item.passport_series }}
          {{ item.passport_number }}
        </div>
      </template>
      <template #item.actions='{ item }'>
        <button class='btn btn-primary mr-2' @click='view(item)'>
          <eye-icon size='16' />
        </button>
        <button class='btn btn-warning mr-2' @click='openDialog(item)'>
          <edit-icon size='16' />
        </button>
        <button class='btn btn-danger mr-2' @click='openDeleteDialog(item)'>
          <trash-icon size='16' />
        </button>
      </template>
    </app-table>
    <app-pagination
      :total='pageCount'
      @input='selectedPage'
    />
  </div>
  <delete-modal
    v-model='deleteDialog'
    :loading='deleteLoading'
    @deleteItem='deleteItem'
  />
  <import-exel
    ref='exelImportRef'
    @getData='getBlackListUser'
  />
</template>

<script>
import AppTable from '../../../components/ui-component/app-table/AppTable'
import BlackListUsers from '../../../service/pages/BlackListUsers'
import CreateUpdateLocations from '../../../components/pages/locations/CreateUodate'
import AppPagination from '../../../components/ui-component/app-pagination/AppPagination'
import DeleteModal from '../../../components/ui-component/delete-modal/DeleteModal'
import AppButton from '../../../components/ui-component/app-button/AppButton'
import ImportExel from '../../../components/pages/black-list-user/ImportExel'
import FilterBlackListUser from './filter'
import { debounce } from '../../../utils/helperFunction'

export default {
  name: 'BlackListUser',
  components: {
    FilterBlackListUser,
    ImportExel,
    AppButton,
    DeleteModal,
    AppPagination,
    CreateUpdateLocations,
    AppTable
  },
  data() {
    return {
      items: [],
      pageCount: 0,
      params: {
        page: 1,
        passport_series: null,
        passport_number: null,
        first_name: null,
        last_name: null,
        pinfl: null,
        middle_name: null
      },
      loading: false,
      deleteInfo: {},
      deleteDialog: false,
      deleteLoading: false,
      exelLoading: false
    }
  },
  created() {
    this.getBlackListUser()
  },
  methods: {
    view(item) {
      let routeData = this.$router.resolve({
        name: 'home-view',
        params: { id: item.id, user: 'admin-blacklist' },
        query: { pinfl: item.pinfl }
      })
      window.open(routeData.href, '_blank')
    },
    openExelDialog() {
      const { exelImportRef } = this.$refs
      exelImportRef.openDialog()
    },
    startFilter: debounce(function() {
      this.getBlackListUser()
    }, 300),
    async getBlackListUser() {
      let params = {}
      Object.keys(this.params).forEach(p => {
        if (this.params[p]) {
          params[p] = this.params[p]
        }
      })
      this.$showLoading()
      try {
        const { data: { data, links } } = await BlackListUsers.getBlackListUsers({ ...params })
        this.items = data
        this.pageCount = links.last_page
      } catch (err) {
        this.$setErrorFromServer({ error: err })
      } finally {
        this.$clearLoading()
      }
    },
    selectedPage(val) {
      this.params.page = val
      this.getBlackListUser()
    },
    openDialog(item) {
      if (item)
        this.$router.push({ name: 'side-menu-black-list-users-form', params: { id: item.id } })
      else
        this.$router.push({ name: 'side-menu-black-list-users-form' })
    },
    openDeleteDialog(item) {
      this.deleteInfo = item
      this.deleteDialog = true
    },
    deleteItem() {
      this.deleteLoading = true
      BlackListUsers.deleteItem(this.deleteInfo.id)
        .then(() => {
          this.$successNotify({
            text: this.$t('notify.delete')
          })
          this.getBlackListUser()
          this.deleteDialog = false
        })
        .catch(err => {
          this.$setErrorFromServer({ error: err })
        })
        .finally(() => {
          this.deleteLoading = false
        })
    },
    clearFilter() {
      this.params = {
        page: 1,
        passport_series: null,
        passport_number: null,
        first_name: null,
        last_name: null,
        pinfl: null,
        middle_name: null
      }
    }
  },
  computed: {
    headers() {
      return [
        { text: this.$t('first_name'), value: 'first_name' },
        { text: this.$t('last_name'), value: 'last_name' },
        { text: this.$t('middle_name'), value: 'middle_name' },
        { text: this.$t('passport_info'), value: 'passport' },
        { text: this.$t('pinfl'), value: 'pinfl' },
        { text: this.$t('actions'), value: 'actions' }
      ]
    }
  }
}
</script>

<style scoped>

</style>
