body {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Calibri', sans-serif;
    font-weight: normal;
    padding: 20px;
}

.container-view {
    /*max-width: 210mm;*/

    width: 100%;
    margin: 0 auto;
    padding: 40px 0;
    background: white;
}

.block__wrapper {
    width: 100%;
    height: 100%;
}

.block__header {
    width: 100%;
    margin-bottom: auto;
    min-height: 108px;
}

.block__header svg {
    width: 100%;
    margin-bottom: 52px;
}

.block__body {
    min-height: 560px;
    margin: auto 0;
}

.block__footer {
    margin-top: 32px;
    float: bottom;
    min-height: 95px;
}

.table-block td input {
    height: 40px;
}

.table-block table {
    font-size: 14px;
    width: 100%;
    padding: 0;

}

.table-block thead {
    background-color: #EBF2FA!important;
}

.table-block table th {
    background-color: #EBF2FA;
    padding: 10px 7px;
    font-size: 14px;
    font-weight: normal;

}

.table-block table td {
    font-size: 14px;
    font-weight: normal;
}


.table-block table td th {
    border-radius: 5px;
}

.table-block table .input {
    border: 1px solid #EBF2FA;
    /*height: 35px;*/
    min-height: 35px;
    font-size: 14px;
    display: flex;
    align-items: center;
    outline: none;
    padding: 0 5px;
    position: relative;
    border-radius: 2px;
    width: 100%;
}
.table-block table input {
    border: 1px solid #EBF2FA;
    height: 35px;
    /*min-height: 35px;*/
    font-size: 14px;
    display: flex;
    align-items: center;
    outline: none;
    padding: 0 5px;
    position: relative;
    border-radius: 2px;
    width: 100%;
}

.block__bg {
    background-color: #EBF2FA;
}

.block__text {
    width: 100%;
    border-radius: 2px;
}

.block__text  h6 {
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    margin: 0;
}

.block__text input {
    width: 100%;
    outline: none;
    border: 1px solid #EBF2FA;

}



.info-view-home-table td {
    margin: 5px !important;
}