<template>
  <div class='container-view'>
    <div style='margin-top: -15px; margin-bottom: 15px;'>
      <button class='btn btn-primary mr-2' @click='printInfo'>
        <printer-icon size='16' />
      </button>
<!--      <button class='btn btn-primary mr-2' @click='downloadPdf'>-->
<!--        <download-icon size='16' />-->
<!--      </button>-->
    </div>
    <div class='block__wrapper'>

      <div class='block__header'>
        <img
          style='width: 100%; height: 100%'
          class='mb-10'
          src='../../../assets/img/pdf_logo.svg'
          alt=''
        >
      </div>

      <div class='block__body info-view-home-table'>

        <div class='table-block' style='margin-bottom: 30px; overflow-x: auto'>
          <table style='border-spacing: 8px;
                width: calc(100% - 3px);
                position: relative'
          >
            <tbody>
            <tr v-for='(item, userIndex) in infoUser' :key='`user${userIndex}`'>
              <td style='width: 20px'>
                <div class='block__bg'
                     style='width: 20px !important;
                          padding: 8px 20px 8px 14px;
                          border-radius: 4px'
                >
                  {{ userIndex + 1 }}
                </div>
              </td>
              <td width='131'>
                <div
                  class='block__bg'
                  style='width: 241px;
                          padding: 8px 10px;
                          border-radius: 4px;
              '
                  v-if='item.text'
                >
                  {{ item.text }}
                </div>
              </td>
              <td colspan='6' v-if="item.value === 'gender'">
                <input disabled style='border-radius: 4px; min-width: 120px' type='text' :value='genderText(view[item.value])'>
              </td>
              <td colspan='6' v-if="item.value === 'passport' && (view.passport_series || view.passport_number)">
                <input disabled style='border-radius: 4px; min-width: 120px' type='text'
                       :value="view.passport_series + ' ' + view.passport_number">
              </td>
              <td colspan='6' v-if="item.value !== 'gender' && item.value !== 'passport'">
                <input disabled style='border-radius: 4px; min-width: 120px' type='text' :value='view[item.value]'>
              </td>
            </tr>
            </tbody>
          </table>
        </div>

        <div class='table-block' style='margin-bottom: 30px; width: 100%;'>
          <table style='border-spacing: 0; width: 100%'>
            <thead style='width: 100%'>
            <tr>
              <th>№</th>
              <th
                style='text-align: start'
                v-for='(tableHeader, headerIndex) in tableHeaders'
                :key='`header${headerIndex}`'
              >{{ tableHeader.text }}
              </th>
            </tr>
            </thead>
            <tbody
              style='border-spacing: 8px;
                width: calc(100% - 3px);
                position: relative; left: -1px'
            >
            <tr
              v-for='(tableBody, bodyIndex) in view.shops'
              :key='`body${bodyIndex}`'
            >
              <td width='24'>
                <div class='block__bg'
                     style='width: 4px;
                     padding: 8px 20px 8px 14px;
                     border-radius: 4px;
              '
                >
                  {{ bodyIndex + 1 }}
                </div>
              </td>
              <td
                style='height: 100%'
                v-for='(bodyWidthHeader, bodyWidthHeaderIndex) in tableHeaders'
                :key='`headerBody${bodyWidthHeaderIndex}`'
              >
                <div class='input' style='white-space: nowrap' v-if="bodyWidthHeader['value'] === 'phone'">
                  {{ phoneFormatView(tableBody[bodyWidthHeader['value']]) }}
                </div>
                <div class='input' style='white-space: nowrap' v-if="bodyWidthHeader['value'] === 'blacklist'">
                  {{ tableBody[bodyWidthHeader['value']] == true ? this.$t('blacklist') : '' }}
                </div>
                <div class='input' v-else>
                  {{ tableBody[bodyWidthHeader['value']] }}
                </div>
              </td>
            </tr>

            </tbody>
          </table>
        </div>

<!--        <div class='block__text'-->
<!--             style='background-color: #EBF2FA;-->
<!--           padding: 10px;-->
<!--           margin-bottom: 4px;'-->
<!--        >-->
<!--          <h6>{{ $t('averageMonthlyPayment') }}</h6>-->
<!--        </div>-->

<!--        <div class='block__text'>-->
<!--          <input-->
<!--            v-if='view.avg_monthly_payment > 0'-->
<!--            type='text'-->
<!--            style='height: 24px;-->
<!--            background-color: #f5f8fd;-->
<!--            padding: 0 5px;-->
<!--            border-radius: 2px; text-align: center'-->
<!--            :value='view.avg_monthly_payment'-->
<!--            disabled-->
<!--          >-->
<!--          <input-->
<!--            v-else-->
<!--            type='text'-->
<!--            style='height: 24px;-->
<!--                background-color: #f5f8fd;-->
<!--                padding: 0 5px;-->
<!--                border-radius: 2px; text-align: center'-->
<!--            :value='0'-->
<!--            disabled-->
<!--          >-->
<!--        </div>-->


      </div>

      <div class='block__footer'>
        <svg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%' viewBox='0 0 561.923 95.885'>
          <g id='Group_5' data-name='Group 5' transform='translate(-15.5 -729.692)'>
            <path id='Path_15' data-name='Path 15' d='M16,113.077V17.692H576.923v95.385'
                  transform='translate(592.923 842.769) rotate(180)' fill='none' stroke='#e4ecf6' stroke-width='1' />
            <path id='Path_12' data-name='Path 12'
                  d='M619.844,416.675v19.2a2.969,2.969,0,0,1-2.968,2.968h-19.2a2.969,2.969,0,0,1-2.968-2.968v-10.8a17.1,17.1,0,0,0-5.008-12.09h0a17.1,17.1,0,0,0-12.09-5.008h-10.8A2.968,2.968,0,0,1,563.844,405v-19.2a2.968,2.968,0,0,1,2.968-2.968h19.2a2.968,2.968,0,0,1,2.968,2.968v11.97a15.929,15.929,0,0,0,4.665,11.264h0a15.929,15.929,0,0,0,11.264,4.666h11.971A2.968,2.968,0,0,1,619.844,416.675Z'
                  transform='translate(-53.844 376.28)' fill='#e4ecf6' opacity='0.5' />
            <path id='Path_16' data-name='Path 16'
                  d='M563.844,416.675v19.2a2.969,2.969,0,0,0,2.968,2.968h19.2a2.969,2.969,0,0,0,2.968-2.968v-10.8a17.1,17.1,0,0,1,5.008-12.09h0a17.1,17.1,0,0,1,12.09-5.008h10.8A2.968,2.968,0,0,0,619.844,405v-19.2a2.968,2.968,0,0,0-2.968-2.968h-19.2a2.968,2.968,0,0,0-2.968,2.968v11.97a15.929,15.929,0,0,1-4.665,11.264h0a15.929,15.929,0,0,1-11.264,4.666H566.811A2.968,2.968,0,0,0,563.844,416.675Z'
                  transform='translate(-537.844 376.28)' fill='#e4ecf6' opacity='0.5' />
          </g>
        </svg>
      </div>

    </div>

  </div>
</template>

<script>
import './scoring.css'
import { getValueByHaveKey, downloadBlobFile, phoneFormat } from '../../../utils/helperFunction'
import BlackListUsers from '../../../service/pages/BlackListUsers'
import Scoring from '../../../service/pages/Scoring'

export default {
  name: 'view',
  data() {
    return {
      view: {},
      filter: {
        passport_series: null,
        passport_number: null,
        pinfl: null,
        scoring_type: 'view',
      },
      monthlyPayment: 0
    }
  },
  computed: {
    infoUser() {
      return [
        { text: this.$t('first_name'), value: 'first_name' },
        { text: this.$t('borrowerLastName'), value: 'last_name' },
        { text: this.$t('borrowerMiddleName'), value: 'middle_name' },
        { text: this.$t('dateBirth'), value: 'birthday' },
        { text: this.$t('gender'), value: 'gender' },
        { text: this.$t('tin'), value: 'inn' },
        { text: this.$t('pinfl'), value: 'pinfl' },
        { text: this.$t('passport_series'), value: 'passport' }
      ]
    },
    tableHeaders() {
      return [
        { text: this.$t('nameShop'), value: 'mko_name' },
        { text: this.$t('companyName'), value: 'mko_company_name' },
        { text: this.$t('credit_amount'), value: 'amount' },
        { text: this.$t('overdueAmount'), value: 'current_debt' },
        // { text: this.$t('averageMonthlyPayment'), value: 'monthly_payment' },
        { text: this.$t('credit_started_date'), value: 'start_date' },
        { text: this.$t('last_paid_date'), value: 'last_paid_date' },
        { text: this.$t('comment'), value: 'comment' },
        { text: this.$t('phone'), value: 'phones' },
        { text: this.$t('address'), value: 'address' },
        { text: this.$t('status'), value: 'blacklist' },
      ]
    }
  },
  created() {
    this.getView()
  },
  methods: {
    phoneFormatView(val) {
      return phoneFormat(val)
    },
    printInfo() {
      window.print()
    },
    async downloadPdf() {
      try {
        const data = await BlackListUsers.downloadScoringPdf(this.view)
        if(data.data)
          downloadBlobFile(data.data,'info.pdf')
      } catch (err) {
        this.$setErrorFromServer({ error: err })
      }
    },
    async getView() {
      this.$clearLoading()
      const { query } = this.$route
      this.filter = getValueByHaveKey(this.filter, query)
      try {
        const { data: { data } } = await Scoring.search({...this.filter})
        this.view = data
      } catch (err) {
        this.$setErrorFromServer({ error: err })
      } finally {
        this.$clearLoading()
      }
    },
    genderText(val) {
      if (val === 'f') {
        return this.$t('female')
      }
      if (val === 'm') {
        return this.$t('male')
      }
    },
  },
}
</script>

<style scoped>

</style>
