<template>
  <form @submit.prevent="$emit('startFilter')">
    <div class='grid grid-cols-12 gap-x-4'>
      <div class='col-span-12 lg:col-span-8'>
        <app-select
          hide-details
          :items='typeList'
          item-text='text'
          item-value='value'
          v-model='modelValue'
          @change='changeFilter'
          :placeholder="$t('type')"
        />
      </div>
      <div class='col-span-12 lg:col-span-4'>
        <app-button class='btn btn-primary h-10' :disabled='checkFilter' @click="$emit('startFilter')">
          <search-icon size='14' />
        </app-button>
      </div>
    </div>
    <div class='grid grid-cols-12 gap-x-4' v-if="modelValue === 'full_name'">
      <div class='col-span-12 lg:col-span-4'>
        <div class='mt-2'>
          <app-input
            :placeholder="$t('first_name')"
            v-model='filter.first_name'
          />
        </div>
      </div>
      <div class='col-span-12 lg:col-span-4'>
        <div class='mt-2'>
          <app-input
            :placeholder="$t('last_name')"
            v-model='filter.last_name'
          />
        </div>
      </div>
      <div class='col-span-12 lg:col-span-4'>
        <div class='mt-2'>
          <app-input
            :placeholder="$t('middle_name')"
            v-model='filter.middle_name'
          />
        </div>
      </div>
    </div>
    <div class='grid grid-cols-12 gap-x-4' v-if="modelValue === 'passport_info'">
      <div class='col-span-12 lg:col-span-4'>
        <div class='mt-2'>
          <app-input
            max='2'
            :placeholder="$t('passport_series')"
            v-model='filter.passport_series'
          />
        </div>
      </div>
      <div class='col-span-12 lg:col-span-4'>
        <div class='mt-2'>
          <app-input
            type='number'
            :placeholder="$t('passport_number')"
            v-model='filter.passport_number'
          />
        </div>
      </div>
      <div class='col-span-12 lg:col-span-4'>
        <div class='mt-2'>
          <app-input
            type='number'
            :placeholder="$t('PNFL')"
            v-model='filter.pinfl'
          />
        </div>
      </div>
    </div>
    <div class='grid grid-cols-12 gap-x-4' v-if="modelValue === 'phone'">
      <div class='col-span-12 lg:col-span-4'>
        <div class='mt-2'>
          <app-input
            :placeholder="$t('phones')"
            v-model='filter.phone'
          />
        </div>
      </div>
      <div class='col-span-12 lg:col-span-4'>
        <div class='mt-2'>
          <app-input
            :placeholder="$t('key')"
            v-model='filter.key'
          />
        </div>
      </div>
    </div>
  </form>
</template>

<script>
import AppInput from '../../ui-component/form/AppInput'
import AppButton from '../../ui-component/app-button/AppButton'
import AppSelect from '../../ui-component/app-select/AppSelect'

export default {
  name: 'HomeFilter',
  components: { AppSelect, AppButton, AppInput },
  emits: { 'startFilter': null },
  props: {
    filter: {
      type: Object,
      default() {
        return {}
      }
    },
    modelValue: {}
  },
  data() {
    return {
      checkFilter: true
    }
  },
  methods: {
    changeFilter(val) {
      this.$emit('updateFilter')
      Object.keys(this.filter).forEach(p => {
        if (this.filter[p]) {
          this.filter[p] = null
        }
      })
      this.$emit('update:modelValue', val)
    }
  },
  computed: {
    typeList() {
      return [
        {
          text: this.$t('search_full_name'),
          value: 'full_name'
        },
        {
          text: this.$t('search_passport_info'),
          value: 'passport_info'
        },
        {
          text: this.$t('search_phones'),
          value: 'phone'
        }
      ]
    }
  },
  watch: {
    filter: {
      deep: true,
      handler(val) {
        Object.keys(val).length > 0 ? this.checkFilter = false : this.checkFilter = true
      }
    }
  }
}
</script>

<style scoped>

</style>
