<template>
  <el-dialog v-model='modelValue' width='30%'>
    <div class='p-2 text-center'>
      <XCircleIcon class='w-16 h-16 text-theme-6 mx-auto mt-3' />
<!--      <div class='text-3xl mt-5'>Are you sure?</div>-->
      <div class='text-gray-600 mt-2'>
        {{ $t('removeItemDialog') }}
      </div>
    </div>
    <div class='px-5 pb-8 text-center mt-4'>
      <button
        type='button'
        data-dismiss='modal'
        class='btn btn-outline-secondary w-24 dark:border-dark-5 dark:text-gray-300 mr-3'
        @click='closeDialog'
      >
        {{ $t('cancel') }}
      </button>
      <app-button
        type='button'
        class='btn btn-danger w-24'
        @click='save'
        :loading='loading'
      >
        {{ $t('delete') }}
      </app-button>
    </div>
  </el-dialog>
</template>

<script>
import { ElDialog } from 'element-plus'
import AppButton from '../app-button/AppButton'
export default {
  name: 'DeleteModal',
  components: { AppButton, ElDialog},
  emits: {'update:modelValue': null},
  props: {
    modelValue: {
      type: Boolean,
      default() {return false}
    },
    loading: {
      type: Boolean,
      default() {return false}
    }
  },
  methods: {
    closeDialog() {
      this.$emit('update:modelValue', false)
    },
    save() {
      this.$emit('deleteItem')
    }
  }
}
</script>

<style scoped>

</style>
