<template>
  <div @click='$router.go(-1)' class='flex items-center' style='cursor: pointer'>
    <arrow-left-icon size='12' class='mr-1' />
    {{ $t('back') }}
  </div>
</template>

<script>
export default {
  name: 'BackRouter'
}
</script>

<style scoped>

</style>
