<template>
  <create-update-shop />
</template>

<script>
import CreateUpdateShop from '../../../components/pages/shop/CreateUpdate'

export default {
  components: { CreateUpdateShop }
}
</script>

<style scoped>

</style>
