<template>
  <div class='shop-page'>
    <div class='intro-y flex items-center mt-8'>
      <h2 class='text-lg font-medium mr-auto'>{{ $t('create') }}</h2>

      <button class='btn btn-primary mr-1 mb-2' @click='openForm'>
        {{ $t('create') }}
        <!--        <LoadingIcon v-if='loading' icon="oval" color="white" class="w-4 h-4 ml-2"/>-->
      </button>
    </div>
    <div class='box p-3 grid grid-cols-12 gap-x-4 box p-4'>
      <div class='intro-y col-span-12 lg:col-span-4'>
        <app-input
          :placeholder="$t('name')"
          v-model='params.name'
          @input='filterShop'
        />
      </div>
      <div class='intro-y col-span-12 lg:col-span-4'>
        <app-input
          :placeholder="$t('tin')"
          v-model='params.inn'
          @input='filterShop'
          v-maska="'#########'"
        />
      </div>
    </div>
    <app-table
      :headers='headers'
      :items='items'
    >
      <template #item.actions='{ item }'>
        <div class='flex'>
          <button class='btn btn-warning mr-2' @click='editItem(item)'>
            <edit-icon size='16' />
          </button>
          <button class='btn btn-danger mr-2'>
            <trash-icon size='16' @click='openDeleteDialog(item)' />
          </button>
        </div>
      </template>
      <template #item.status='{ item }'>
        <div style='min-width: 140px'>
          <el-switch
            v-model='item.status'
            :active-value='10'
            :inactive-value='0'
            active-color='#28b336'
            inactive-color='#ff4949'
            :loading='item.isLoading'
            :active-text="item.status === 10 ? $t('active') : $t('notActive')"
            @change='changeStatus(item)'
          />
        </div>
      </template>
    </app-table>
    <app-pagination
      :total='pageCount'
      @input='selectedPage'
    />
  </div>
  <delete-modal
    v-model='deleteDialog'
    :loading='deleteLoading'
    @deleteItem='deleteItem'
  />
  <to-up-balance
    ref='toUpBalanceRef'
    @getData='getShop'
  />
</template>

<script>
import AppTable from '../../../components/ui-component/app-table/AppTable'
import Shop from '../../../service/pages/Shop'
import AppPagination from '../../../components/ui-component/app-pagination/AppPagination'
import AppInput from '../../../components/ui-component/form/AppInput'
import { debounce } from '../../../utils/helperFunction'
import DeleteModal from '../../../components/ui-component/delete-modal/DeleteModal'
import AppButton from '../../../components/ui-component/app-button/AppButton'
import ToUpBalance from '../../../components/pages/shop/ToUpBalanceModal'
import { maska } from 'maska'
import { ElSwitch } from 'element-plus'

export default {
  components: { ToUpBalance, AppButton, DeleteModal, AppInput, AppPagination, AppTable, ElSwitch },
  directives: { maska },
  data() {
    return {
      items: [],
      pageCount: 0,
      params: {
        page: 1,
        name: null,
        inn: null
      },
      loading: false,
      deleteDialog: false,
      deleteLoading: false,
      deleteInfo: {}
    }
  },
  computed: {
    headers() {
      return [
        { text: this.$t('address'), value: 'address' },
        { text: this.$t('balance'), value: 'balance' },
        { text: this.$t('brand_name'), value: 'brand_name' },
        { text: this.$t('company_name'), value: 'company_name' },
        { text: this.$t('director_full_name'), value: 'director_full_name' },
        { text: this.$t('tin'), value: 'inn' },
        { text: this.$t('status'), value: 'status' },
        { text: this.$t('actions'), value: 'actions' }
      ]
    }
  },
  created() {
    this.getShop()
  },
  methods: {
    async changeStatus(item) {
      item.isLoading = true
      try {
        await Shop.changeStatus(item.id)
        await this.getShop()
      } catch (err) {
        this.$setErrorFromServer({ error: err })
      } finally {
        item.isLoading = false
      }
    },
    balanceModal(item) {
      const { toUpBalanceRef } = this.$refs
      toUpBalanceRef.openDialog(item)
    },
    viewItem(item) {
      this.$router.push({ name: 'side-menu-shop-view', params: { id: item.id } })
    },
    editItem(item) {
      this.$router.push({ name: 'side-menu-shop-form', params: { id: item.id } })
    },
    clearFilter(obj) {
      let result = {}
      Object.keys(obj).forEach(p => {
        if (obj[p]) {
          result[p] = obj[p]
        }
      })
      return result
    },
    async getShop() {
      this.$showLoading()
      this.params = this.clearFilter(this.params)
      try {
        const { data: { data, links } } = await Shop.getShop({ ...this.params })
        data.map(p => {
          p.isLoading = false
          return p
        })
        this.items = data
        this.pageCount = links.last_page
      } catch (err) {
        this.$setErrorFromServer({ error: err })
      } finally {
        this.$clearLoading()
      }
    },
    deleteItem() {
      this.deleteLoading = true
      Shop.deleteItem(this.deleteInfo)
        .then(() => {
          this.$successNotify({
            text: this.$t('notify.delete')
          })
          this.getShop()
          this.deleteDialog = false
        })
        .catch(err => {
          this.$setErrorFromServer({ error: err })
        })
        .finally(() => {
          this.deleteLoading = false
        })
    },
    openDeleteDialog(item) {
      this.deleteInfo = item
      this.deleteDialog = true
    },
    selectedPage(val) {
      this.params.page = val
      this.getShop()
    },
    openForm() {
      this.$router.push({ name: 'side-menu-shop-form' })
    },
    filterShop: debounce(function() {
      this.getShop()
    }, 300)
  }
}
</script>

<style scoped>

</style>
