<template>
  <div :class="{'dark-theme-block-style': darkMode}">
    <el-dialog v-model='dialog'>
      <template #title>
        <div class='flex'>
          <h2 class='text-lg font-medium mb-3'>{{ form.id ? this.$t('update') : this.$t('create') }}</h2>
        </div>
      </template>
      <Form @submit='save' ref='form'>
        <div class='grid grid-cols-12 gap-4'>
          <div class='intro-y col-span-12 lg:col-span-6'>
            <div class='mt-2'>
              <Field v-slot='{ errors }' :model-value='form.name' name='name' rules='required|max:255'>
                <app-input
                  v-model='form.name'
                  :error-message='errors[0]'
                  :placeholder="$t('name')"
                />
              </Field>
            </div>
          </div>
          <div class='intro-y col-span-12 lg:col-span-6'>
            <div class='mt-2'>
              <Field
                v-slot='{ errors }'
                :model-value='form.key'
                name='key'
                rules='required|max:255'>
                <app-select
                  v-model='form.key'
                  :error-message='errors[0]'
                  :items='priceListType'
                  item-value='key'
                  item-text='name'
                  :placeholder="$t('name')"
                >
                </app-select>
              </Field>
            </div>
          </div>
          <div class='intro-y col-span-12 lg:col-span-6'>
            <div class='mt-2'>
              <Field v-slot='{ errors }' :model-value='form.default_price' name='default_price' rules='required|numeric'>
                <app-input
                  v-model='form.default_price'
                  :error-message='errors[0]'
                  :placeholder="$t('default_price')"
                />
              </Field>
            </div>
          </div>



          <div class='intro-y col-span-12 lg:col-span-6'>
            <div class='mt-2'>
              <Field v-slot='{ errors }' :model-value='form.bonus' name='bonus' rules='required|numeric'>
                <app-input
                  v-model='form.bonus'
                  :error-message='errors[0]'
                  :placeholder="$t('bonus') + ' ( % )'"
                />
              </Field>
            </div>
          </div>


        </div>
        <div class='flex items-center'>
          <div style='flex-grow: 1'></div>
          <div class='mr-2 btn' @click='dialog = false'>
            {{ $t('cancel') }}
          </div>
          <app-button class='btn-primary' type='submit' :loading='loading'>
            {{ $t('save') }}
          </app-button>
        </div>
      </Form>
    </el-dialog>
  </div>
</template>

<script>
import AppInput from '../../ui-component/form/AppInput'
import Price from '../../../service/pages/Price.js'
import { ElDialog } from 'element-plus'
import { Field, Form, useForm } from 'vee-validate'
import AppSelect from '../../ui-component/app-select/AppSelect'
import AppButton from '../../ui-component/app-button/AppButton'
import { getValueByKey } from '../../../utils/helperFunction'

const FORM = {
  name: null,
  key: '',
  default_price: '',
  bonus: null
}

export default {
  name: 'CreateUpdatePrice',
  components: { AppButton, AppSelect, AppInput, Price, Field, Form, ElDialog },
  emits: {'getData': null},
  setup() {
    const { resetForm } = useForm()

    return { resetForm }
  },
  data() {
    return {
      form: { ...FORM },
      loading: false,
      priceListType: [],
      dialog: false
    }
  },
  created() {
    this.getPriceTypeList()
  },
  methods: {
    async getPriceTypeList() {
      try {
        const { data: { data } } = await Price.getPriceListType()
        this.priceListType = data
      } catch (err) {
        this.$setErrorFromServer({ error: err })
      }
    },
    async save() {
      this.loading = false
      try {
        await Price.createOrUpdate(this.form)
        this.$successNotify({
          text: 'notify.create'
        })
        this.$emit('getData')
        this.dialog = false
      } catch (err) {
        this.$setErrorFromServer({ error: err })
        this.$setFormServer({ error: err, obs: this.$refs['form'] })
      }
    },
    openDialog(item) {
      this.dialog = true
      if (item) {
        this.form = getValueByKey(this.form, item)
        this.form.id = item.id
      }
    }
  },
  watch: {
    dialog(val) {
      if (!val) {
        this.form = { ...FORM }
        this.$refs.form.resetForm()
      }
    }
  },
  computed: {
    darkMode() {
      return this.$store.state.main.darkMode
    }
  }
}
</script>

<style scoped>

</style>
