<template>
  <Form @submit="$emit('startFilter')" ref="form">
    <div class='grid grid-cols-12 gap-x-4'>
      <div class='col-span-12 lg:col-span-3'>
        <div class='mt-2'>
          <Field
            :name="$t('passport_series')"
            rules="required|max:2"
            :modelValue='filter.passport_series'
            v-slot='{ errors }'
          >
            <app-input
              :error-message='errors[0]'
              max='2'
              :placeholder="$t('passport_series')"
              v-model='filter.passport_series'
            />
          </Field>
        </div>
      </div>
      <div class='col-span-12 lg:col-span-3'>
        <div class='mt-2'>
          <Field
            :name="$t('passport_number')"
            rules="required|max:7"
            :modelValue='filter.passport_number'
            v-slot='{ errors }'
          >
            <app-input
              :error-message='errors[0]'
              type='number'
              :placeholder="$t('passport_number')"
              v-model='filter.passport_number'
            />
          </Field>
        </div>
      </div>
      <div class='col-span-12 lg:col-span-3'>
        <div class='mt-2'>
          <Field
            :name="$t('PNFL')"
            rules="required|max:14"
            :modelValue='filter.pinfl'
            v-slot='{ errors }'
          >
            <app-input
              :error-message='errors[0]'
              type='number'
              :placeholder="$t('PNFL')"
              v-model='filter.pinfl'
            />
          </Field>
        </div>
      </div>
      <div class='col-span-12 lg:col-span-3 mt-2'>
        <app-button class='btn btn-primary h-10' :disabled='checkFilter'>
          <search-icon size='14' />
        </app-button>
      </div>
    </div>
  </Form>
</template>

<script>
import AppInput from '../../ui-component/form/AppInput'
import AppButton from '../../ui-component/app-button/AppButton'
import AppSelect from '../../ui-component/app-select/AppSelect'
import { Field, Form } from 'vee-validate'

export default {
  name: 'ScoringFilter',
  components: { AppSelect, AppButton, AppInput, Field, Form },
  emits: { 'startFilter': null },
  props: {
    filter: {
      type: Object,
      default() {
        return {}
      }
    },
    modelValue: {}
  },
  data() {
    return {
      checkFilter: true
    }
  },
  methods: {
    changeFilter(val) {
      this.$emit('updateFilter')
      Object.keys(this.filter).forEach(p => {
        if (this.filter[p]) {
          this.filter[p] = null
        }
      })
      this.$emit('update:modelValue', val)
    }
  },
  watch: {
    filter: {
      deep: true,
      handler(val) {
        Object.keys(val).length > 0 ? this.checkFilter = false : this.checkFilter = true
      }
    }
  }
}
</script>

<style scoped>

</style>
