<template>
  <el-dialog v-model='dialog'>
    <template #title>
      <div class='flex'>
        <h2 class='text-lg font-medium'>{{ form.id ? this.$t('update') : this.$t('create') }}</h2>
      </div>
    </template>
    <Form @submit='save' ref='form'>
      <div class='grid grid-cols-12 gap-4 pt-0'>
        <div class='intro-y col-span-12 lg:col-span-6 p-0'>
          <div class='mt-2'>
            <Field name='name_uz' :modelValue='form.name_uz' v-slot='{errors}' rules='required'>
              <app-input
                :error-message='errors[0]'
                :placeholder="$t('name_uz')"
                v-model='form.name_uz'
              />
            </Field>
          </div>
        </div>
        <div class='intro-y col-span-12 lg:col-span-6 p-0'>
          <div class='mt-2'>
            <Field name='name_ru' :modelValue='form.name_ru' v-slot='{errors}' rules='required'>
              <app-input
                :error-message='errors[0]'
                :placeholder="$t('name_ru')"
                v-model='form.name_ru'
              />
            </Field>
          </div>
        </div>
        <div class='intro-y col-span-12 lg:col-span-6 p-0'>
          <div class='mt-2'>
            <Field name='name_en' :modelValue='form.name_oz' v-slot='{errors}' rules='required'>
              <app-input
                :error-message='errors[0]'
                :placeholder="$t('name_oz')"
                v-model='form.name_oz'
              />
            </Field>
          </div>
        </div>
        <div class='intro-y col-span-12 lg:col-span-6 mt-2 p-0'>
          <Field name='parent_id' :modelValue='form.parent_id' v-slot='{errors}'>
            <app-select
              :error-message='errors[0]'
              filterable
              v-model='form.parent_id'
              :placeholder="$t('region')"
              :items='locationsList'
              clearable
              item-text='name'
              item-value='id'
            />
          </Field>
        </div>
        <div class='intro-y col-span-12 lg:col-span-6 mt-2 p-0'>
          <Field name='status' :modelValue='form.status' v-slot='{errors}'>
            <app-select
              :error-message='errors[0]'
              v-model='form.status'
              :placeholder="$t('status')"
              :items='statusList'
              clearable
              item-text='text'
              item-value='value'
            />
          </Field>
        </div>
      </div>
      <div class='flex items-center'>
        <div style='flex-grow: 1'></div>
        <div class='mr-2 btn' @click='dialog = false'>
          {{ $t('cancel') }}
        </div>
        <app-button class='btn-primary' type='submit' :loading='loading'>
          {{ $t('save') }}
        </app-button>
      </div>
    </Form>
  </el-dialog>
</template>

<script>
import AppInput from '../../ui-component/form/AppInput'
import Locations from '../../../service/pages/Locations'
import AppSelect from '../../ui-component/app-select/AppSelect'
import { ElDialog } from 'element-plus'
import AppButton from '../../ui-component/app-button/AppButton'
import { Form, Field, useForm } from 'vee-validate'
import { getValueByKey } from '../../../utils/helperFunction'

const FORM = {
  status: null,
  parent_id: null,
  name_uz: null,
  name_ru: null,
  name_oz: null
}

export default {
  name: 'CreateUpdateLocations',
  components: { AppButton, AppSelect, AppInput, ElDialog, Field, Form },
  emits: {'getData': null},
  setup() {
    const { resetForm } = useForm()

    return {resetForm}
  },
  data() {
    return {
      loading: false,
      locationsList: [],
      dialog: false,
      form: { ...FORM },
      id: null
    }
  },
  created() {
    this.getLocationsList()
  },
  methods: {
    async getLocationsList() {
      try {
        const { data: { data } } = await Locations.getLocationsList()
        this.locationsList = data
      } catch (err) {
        this.$setErrorFromServer({ error: err })
      }
    },
    async save() {
      this.loading = true
      let obj = {}
      Object.keys(this.form).forEach(p => {
        if(this.form[p]) {
          obj[p] = this.form[p]
        }
      })
      try {
        if (this.id) {
          await Locations.update(this.id, obj)
        } else {
          await Locations.create(obj)
        }
        this.$successNotify({ text: this.$t('notify.save') })
        this.dialog = false
        this.$emit('getData')
      } catch (err) {
        this.$setErrorFromServer({ error: err })
        this.$setFormServer({ error: err, obs: this.$refs['form'] })
      } finally {
        this.loading = false
      }
    },
    openDialog(item) {
      this.dialog = true
      if (item) {
        this.form = getValueByKey(this.form, item)
        this.id = item.id
      }
    }
  },
  watch: {
    dialog(val) {
      if (!val) {
        this.form = { ...FORM }
        this.$refs.form.resetForm()
      }
    },
  },
  computed: {
    statusList() {
      return [
        {
          text: this.$t('active'),
          value: 10
        },
        {
          text: this.$t('notActive'),
          value: 0
        }
      ]
    }
  }
}
</script>

<style scoped>

</style>
