<template>
  <ul
    ref="wrapRef"
    class="select-list"
  >
    <li
      v-for="item in itemsWithStatus"
      :key="item.value"
      :class="{'select-list__item-disabled': item.disabled}"
      tabindex="-1"
      @keydown.enter="onSelect([item, !item.isActive, item.index])"
      @click="onSelect([item, !item.isActive, item.index])"
    >
      {{ item.text }}
      <span 
        v-if="item.isActive"
        class="select-list__active-icon"
      >
        <svg


          width="19"
          height="19"
          viewBox="0 0 19 19"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M9.5 0.75C4.67088 0.75 0.75 4.67088 0.75 9.5C0.75 14.3291 4.67088 18.25 9.5 18.25C14.3291 18.25 18.25 14.3291 18.25 9.5C18.25 4.67088 14.3291 0.75 9.5 0.75ZM9.5 2.5C13.3631 2.5 16.5 5.63688 16.5 9.5C16.5 13.3631 13.3631 16.5 9.5 16.5C5.636 16.5 2.5 13.3631 2.5 9.5C2.5 5.63688 5.636 2.5 9.5 2.5ZM7.953 10.7373L12.2843 6.406C12.6255 6.06475 13.1803 6.06475 13.5215 6.406C13.8628 6.74813 13.8628 7.302 13.5215 7.64413L8.57162 12.594C8.23037 12.9353 7.67563 12.9353 7.33438 12.594L5.4785 10.7373C5.13637 10.396 5.13637 9.84125 5.4785 9.5C5.81975 9.15875 6.37363 9.15875 6.71575 9.5L7.953 10.7373Z"
            fill="#2F80ED"
          />
        </svg>
      </span>
    </li>
  </ul>
</template>


<script>
import "./select-list.scss"
import {getPropertyFromItem} from "../../../utils/helperFunction";
import {ref} from "vue";
import useKeyDown from "../../../use/useKeydown";

export default {
	name: "SelectList",
	props: {
		items: {
			type: Array,
			default: () => []
		},
		itemText: {
			type: [String, Function],
			default: "text"
		},
		itemValue: {
			type: [String, Function],
			default: "value"
		},
		selectedItems: {
			type: Array,
			default: () => []
		}
	},
	emits: {
		select: null
	},
	setup(props) {
		const focusedItemIndex = ref(null)
		const wrapRef = ref(null)
		const toFocusElement = (index) => {
			if (props.items.length > index && index > -1) {
				wrapRef.value.children[index].focus()
			}
		}
		useKeyDown([
			{
				key: "ArrowDown",
				fn: () => {
					if (focusedItemIndex.value === null) {
						toFocusElement(0)
						focusedItemIndex.value = 0
					} else {
						if (props.items.length - 1 > focusedItemIndex.value) {
							toFocusElement(focusedItemIndex.value + 1)
							focusedItemIndex.value++
						}
					}
				}
			},
			{
				key: "ArrowUp",
				fn: () => {
					if (focusedItemIndex.value !== null && focusedItemIndex.value > 0) {
						toFocusElement(focusedItemIndex.value - 1)
						focusedItemIndex.value--
					}
				}
			}
		])
		return {
			wrapRef
		}
	},
	computed: {
		parsedItems() {
			return new Set([...this.selectedItems].map(this.getValue))
		},
		itemsWithStatus() {
			if(!this.items.length) {
				return  [
					{
						text: "no data",
						disabled: true
					}
				]
			}
			return this.items.map((item, index) => {
				return {
					value: this.getValue(item),
					text: this.getText(item),
					index,
					disabled: false,
					isActive: this.hasItem(item),
					...item
				}
			})
		}
	},
	mounted() {
	},
	methods: {
		hasItem(item) {
			return this.parsedItems.has(this.getValue(item))
		},
		onSelect(item) {
			this.$emit("select", item)
		},
		getValue(item) {
			return getPropertyFromItem(item, this.itemValue)
		},
		getText(item) {
			return getPropertyFromItem(item, this.itemText)
		}
	}
}
</script>