.select-list {
  list-style: none;
  li {
    height: 30px;
    line-height: 30px;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    transition: 0.25s ease-in-out;
    position: relative;
    &:not(.select-list__item-disabled) {
      cursor: pointer;
    }
    &:hover, &:focus {
      &:not(.select-list__item-disabled) {
        background: #ccc;
      }

    }
    &:focus {
      outline: none;
    }
  }
  &__active-icon {
    position: absolute;
    right: 4px;
    top: 0;
    height: 100%;
    display: flex;
    align-items: center;
    z-index: 1
  }
}