@import "../../../../node_modules/@vueform/multiselect/themes/default.css";
.multiselect {
  border: 1px solid #DDE8ED;
  &-has-prepend-inner {
    .multiselect-single-label,
    .multiselect-placeholder{
      padding-left: 50px;
    }

  }
  &, &.is-open {
    border-radius: 0.375rem;
    .multiselect-placeholder {

    }
  }
  &__inner {
    position: relative;
  }
  &-is-invalid {
    border-color: var(--danger);
  }
  &__prepend-inner {
    position: absolute;
    top: 50%;
    z-index: 1;
    transform: translateY(-50%);
    left: 15px;
    display: flex;
  }
}

