<template>
  <div
    :style='`--backgroundColor: ${backgroundColor}`'
  >
    <label
      v-if='label'
      class='text-sm font-medium color-light-gray mb-2 d-flex'
    >{{ label }}</label>
    <div class='multiselect__inner'>
      <div class='multiselect__prepend-inner'>
        <slot name='prepend-inner' />
      </div>
      <multiselect
        :class="{
          'border-theme-6': !!errorMessage,
          'multiselect-has-prepend-inner': $slots['prepend-inner']
        }"
        :options='items'
        :label='itemText'
        :placeholder='placeholder'
        :value-prop='itemValue'
        :model-value='modelValue'
        :clear-on-select='clearable'
        :clear-on-search='clearable'
        :can-deselect='false'
        @change="$emit('update:modelValue', $event); $emit('change', $event)"
      />
    </div>
    <div
      v-if='!hideDetails'
      class='error-message-input'
    >
      {{ errorMessage }}
    </div>
  </div>
</template>

<script>
import './style.scss'
import Multiselect from '@vueform/multiselect'

export default {
  name: 'VAutocomplete',
  components: {
    Multiselect
  },
  props: {
    backgroundColor: {
      type: String,
      default: '#f5f8fa'
    },
    placeholder: {
      type: String,
      default: undefined
    },
    clearable: {
      type: Boolean,
      default: false
    },
    errorMessage: {
      type: String,
      default: undefined
    },
    hideDetails: {
      type: Boolean,
      default: false
    },
    label: {
      type: String,
      default: undefined
    },
    maxHeight: {
      type: [String, Number],
      default: 300
    },
    modelValue: {
      type: [String, Number, Boolean],
      default: null
    },
    multiple: {
      type: Boolean,
      default: false
    },
    itemText: {
      type: String,
      default: 'text'
    },
    itemValue: {
      type: String,
      default: 'value'
    },
    items: {
      type: Array,
      default: () => []
    },
    filter: {
      type: Function,
      default: (item, queryText, itemText) => {
        return itemText.toLowerCase().indexOf(queryText.toLowerCase()) > -1
      }
    }
  },
  emits: {
    'update:modelValue': null
  },
  // watch: {
  //   items() {
  //     const value = this.multiple ? [] : null
  //     this.$emit('update:modelValue', value)
  //   }
  // },

  mounted() {
  },
  methods: {}
}
</script>


<style>
.error-message-input {
  color: #f44336;
  font-size: 13px;
  display: block;
  margin-top: 3px;
  line-height: 10px;
  min-height: 10px;
}
</style>
