<template>
  <div>
    <Form @submit='save' ref='form'>
      <div class='flex justify-between my-4' style='justify-content: space-between'>
        <h2 class='text-lg font-medium' style='line-height: 20px'>{{ $t('changePersonaData') }}</h2>
        <div class='flex'>
          <!--          <div class='btn mr-2 btn-warning' @click='openPasswordDialog'>-->
          <!--            {{ $t('editPassword') }}-->
          <!--          </div>-->
          <app-button
            class='btn btn-primary'
            :loading='loading'
          >
            {{ $t('save') }}
          </app-button>
        </div>
      </div>
      <div class='grid grid-cols-12 gap-x-4 box p-4 mt-4'>
        <div class='intro-y col-span-12 lg:col-span-6'>
          <div class=''>
            <Field :modelValue='form.username' rules='required' name='username' v-slot='{ errors }'>
              <app-input
                :error-message='errors[0]'
                :placeholder="$t('username')"
                v-model='form.username'
              />
            </Field>
          </div>
        </div>
        <div class='intro-y col-span-12 lg:col-span-6'>
          <div id='basic-select'>
            <div class='preview'>
              <Field
                v-slot='{ errors }'
                :modelValue='parent_id'
                name='parent_id'>
                <app-select
                  v-model='parent_id'
                  :error-message='errors[0]'
                  :items='locationsList'
                  item-value='id'
                  item-text='name'
                  :placeholder="$t('region')"
                />
              </Field>
            </div>
          </div>
        </div>
        <div class='intro-y col-span-12 lg:col-span-6 mt-2'>
          <Field
            v-slot='{ errors }'
            :model-value='form.location_id'
            name='location_id'
            :rules='{ required: parent_id }'
          >
            <app-select
              v-model='form.location_id'
              :error-message='errors[0]'
              :items='locationChildList'
              item-value='id'
              item-text='name'
              :placeholder="$t('district')"
            >
            </app-select>
          </Field>
        </div>
        <div class='intro-y col-span-12 lg:col-span-6'>
          <div class='mt-2'>
            <Field :modelValue='form.brand_name' rules='required' name='brand_name' v-slot='{ errors }'>
              <app-input
                :error-message='errors[0]'
                :placeholder="$t('brand_name')"
                v-model='form.brand_name'
              />
            </Field>
          </div>
        </div>

        <div class='intro-y col-span-12 lg:col-span-6'>
          <div class='mt-2'>
            <Field :modelValue='form.company_name' rules='required' name='company_name' v-slot='{ errors }'>
              <app-input
                :error-message='errors[0]'
                :placeholder="$t('company_name')"
                v-model='form.company_name'
              />
            </Field>
          </div>
        </div>
        <div class='intro-y col-span-12 lg:col-span-6'>
          <div class='mt-2'>
            <app-file-upload
              :placeholder="$t('logo')"
              v-model='form.logo'
            />
          </div>
        </div>
        <div class='intro-y col-span-12 lg:col-span-6'>
          <div class='mt-2'>
            <Field :modelValue='form.address' rules='required|max:255' name='address' v-slot='{ errors }'>
              <app-input
                :error-message='errors[0]'
                :placeholder="$t('address')"
                v-model='form.address'
              />
            </Field>
          </div>
        </div>
        <div class='intro-y col-span-12 lg:col-span-6'>
          <div class='mt-2'>
            <Field :modelValue='form.info' rules='max:255' name='info' v-slot='{ errors }'>
              <app-input
                :error-message='errors[0]'
                :placeholder="$t('info')"
                v-model='form.info'
              />
            </Field>
          </div>
        </div>
        <div class='intro-y col-span-12 lg:col-span-6'>
          <div class='mt-2'>
            <Field :modelValue='form.director_full_name' rules='max:255' name='director_full_name' v-slot='{ errors }'>
              <app-input
                :error-message='errors[0]'
                :placeholder="$t('director_full_name')"
                v-model='form.director_full_name'
              />
            </Field>
          </div>
        </div>
        <div class='intro-y col-span-12 lg:col-span-6'>
          <div class='mt-2'>
            <Field :modelValue='form.bank' rules='max:255' name='bank' v-slot='{ errors }'>
              <app-input
                :error-message='errors[0]'
                :placeholder="$t('bank')"
                v-model='form.bank'
              />
            </Field>
          </div>
        </div>
        <div class='intro-y col-span-12 lg:col-span-6'>
          <div class='mt-2'>
            <Field :modelValue='form.mfo' rules='max:5' name='mfo' v-slot='{ errors }'>
              <app-input
                :error-message='errors[0]'
                :placeholder="$t('mfo')"
                v-model='form.mfo'
              />
            </Field>
          </div>
        </div>
        <div class='intro-y col-span-12 lg:col-span-6'>
          <div class='mt-2'>
            <Field :modelValue='form.inn' rules='max:9' name='inn' v-slot='{ errors }'>
              <app-input
                :error-message='errors[0]'
                type='text'
                maxlength='9'
                :placeholder="$t('tin')"
                v-model='form.inn'
              />
            </Field>
          </div>
        </div>
        <div class='intro-y col-span-12 lg:col-span-6'>
          <div class='mt-2'>
            <Field :modelValue='form.payment_account' rules='max:9' name='payment_account' v-slot='{ errors }'>
              <app-input
                :error-message='errors[0]'
                type='number'
                :placeholder="$t('payment_account')"
                v-model='form.payment_account'
              />
            </Field>
          </div>
        </div>
        <div class='intro-y col-span-12 lg:col-span-6'>
          <div class='mt-2'>
            <Field :modelValue='form.document_number' rules='max:9' name='document_number' v-slot='{ errors }'>
              <app-input
                :error-message='errors[0]'
                type='number'
                :placeholder="$t('document_number')"
                v-model='form.document_number'
              />
            </Field>
          </div>
        </div>
        <div class='col-span-12 lg:col-span-6' v-for='(phone, phoneIndex) in phones'>
          <div class='mt-2 flex'>
            <div style='width: 100%'>
              <Field :modelValue='phone.phone' :rules="{'required': phoneIndex > 0}" name='phones' v-slot='{ errors }'>
                <app-input
                  :error-message='errors[0]'
                  type='number'
                  :placeholder="$t('phone')"
                  v-model='phone.phone'
                />
              </Field>
            </div>
            <div
              class='btn btn-primary h-10 ml-2'
              v-if='phoneIndex === 0'
              @click='addPhone'
            >
              <plus-icon />
            </div>
            <div
              class='btn btn-danger h-10 ml-2'
              v-if='phoneIndex > 0'
              @click='removePhone(phoneIndex)'
            >
              <minus-icon />
            </div>
          </div>
        </div>
      </div>
    </Form>
    <!--    <shop-change-password-username ref='passwordChangeRef' />-->
  </div>
</template>

<script>
import AppSelect from '../../../components/ui-component/app-select/AppSelect'
import AppInput from '../../../components/ui-component/form/AppInput'
import Locations from '../../../service/pages/Locations'
import { Form, Field } from 'vee-validate'
import AppFileUpload from '../../../components/ui-component/form/UploadFile'
import { getValueByKey } from '../../../utils/helperFunction'
import VAutocomplete from '../../../components/ui-component/VAutocomplete/VAutocomplete'
import AppButton from '../../../components/ui-component/app-button/AppButton'
import { service } from '../../../utils/LocalStorageService'
import Profile from '../../../service/pages/Profile'

const FORM = {
  username: null,
  location_id: null,
  brand_name: null,
  company_name: null,
  balance: null,
  logo: null,
  address: null,
  info: null,
  director_full_name: null,
  bank: null,
  mfo: null,
  inn: null,
  payment_account: null,
  document_number: null,
  status: ''
}

export default {
  name: 'profile',
  components: {
    AppButton,
    AppSelect,
    AppFileUpload,
    AppInput,
    Field,
    Form,
    VAutocomplete
  },
  data() {
    return {
      form: { ...FORM },
      username: null,
      loading: false,
      email: '',
      locationsList: [],
      locationChildList: [],
      parent_id: null,
      locationOptions: {
        placeholder: this.$t('locations')
      },
      parentOptions: {
        placeholder: this.$t('locations')
      },
      statusOptions: {
        placeholder: this.$t('status')
      },
      phones: [{ phone: '' }],
      price_list: {
        price: null,
        key: null
      },
      user: {
        username: null,
        password: null
      },
      priceList: [],
      btnLoading: false
    }
  },
  mounted() {
    if (!this.$route.params.id) {
      this.getLocationsList()
    }
    this.getOneShop()
    this.checkUsername()
  },
  watch: {
    parent_id(val) {
      this.locationsList.map(p => {
        if (+val === +p.id) {
          this.locationChildList = p.children
        }
      })
    }
  },
  methods: {
    checkUsername() {
      if(this.$store.state.username)
        this.username = this.$store.state.username
    },
    async getOneShop() {
      try {
        const data = service.getUserInfo()
        this.form = getValueByKey(this.form, data)
        if (data.phones.length) {
          data.phones.forEach((p, index) => {
            this.phones[index] = {
              phone: p
            }
          })
        }
        if(this.$store.state.username) {
          this.form.username = this.$store.state.username
        }

        await this.getLocationsList(data)

      } catch (err) {
        this.$setErrorFromServer({error: err})
      }
    },
    removePhone(index) {
      this.phones.splice(index, 1)
    },
    addPhone() {
      this.phones.push({ phone: null })
    },
    async save() {
      this.loading = true;
      try {
        const formData = this.getFormData('put')
        await Profile.saveProfileDataShop(formData)
        this.$successNotify({text: this.$t('notify.update')})

        if(this.username !== this.form.username) {
          localStorage.removeItem('Authorization')
          localStorage.clear()
          await this.$router.push({name: 'login'})
        }
        if(this.username === this.form.username) {
          await this.$router.push('dashboard')
        }
      } catch (err) {
        this.$setErrorFromServer({error: err})
        this.$setFormServer({error: err, obs: this.$refs['form']})
      } finally {
        this.loading = false;
      }
    },
    async getLocationsList(item) {
      try {
        const { data: { data } } = await Locations.getListForShopCabinet()
        this.locationsList = data ? data : []
        if (item) {
          if (this.locationsList.length) {
            this.locationsList.forEach(p => {
              if (p.id === item.location_id) {
                this.parent_id = item.location_id
              } else {
                if (p.children.length) {
                  p.children.find(b => {
                    if (+b.id === +item.location_id) {
                      this.parent_id = p.id
                      this.form.location_id = item.location_id
                    }
                  })
                }
              }
            })
          }
        }
      } catch (err) {
        this.$setErrorFromServer({error: err})
      }
    },
    getFormData(method) {
      const formData = new FormData()
      Object.keys(this.form).forEach(p => {
        if (this.form[p]) {
          formData.append(p, this.form[p])
        }
      })
      if (this.phones) {
        this.phones.forEach((p, index) => {
          formData.append(`phones[${index}]`, p.phone)
        })
      }
      Object.keys(this.user).forEach(p => {
        formData.append(`user[${p}]`, this.user[p])
      })
      Object.keys(this.price_list).forEach(p => {
        formData.append(`price_list[${p}]`, this.price_list[p])
      })
      if (this.form.logo) {
        formData.append('logo', this.form.logo)
      }
      if (method) {
        formData.append('_method', method)
      }

      return formData
    },
  },
  computed: {
    statusList() {
      return [
        {
          value: 10,
          text: this.$t('active')
        },
        {
          value: 0,
          text: this.$t('notActive')
        }
      ]
    }
  }
}
</script>

<style scoped>

</style>
