<template>
  <Form @submit='onSubmit(validate)' #default='validate' ref='form'>
    <slot />
  </Form>
</template>

<script>
import { Form } from 'vee-validate'

export default {
  name: 'AppForm',
  components: { Form },
  emits: {
    submit: null
  },
  methods: {
    onSubmit() {
      this.$emit('submit')
    }
  }
}
</script>

<style scoped>

</style>
