<template>
  <div>
    <input
      :type='type'
      :value="modelValue"
      v-bind='$attrs'
      :class="['form-control', { 'border-theme-6': errorMessage.length }]"
      :placeholder='placeholder'
      @input='input'
    />
    <div class='error-message-input' v-if='!hideDetails'>{{ errorMessage }}</div>
  </div>
</template>

<script>
  export default {
    name: 'AppInput',
    emits: { 'update:modelValue': null },
    props: {
      type: {
        type: String,
        default: () => {
          return 'text'
        }
      },
      modelValue: {},
      placeholder: {
        type: String
      },
      errorMessage: {
        type: String,
        default: () => {
          return ''
        }
      },
      hideDetails: {
        type: Boolean,
        default() {
          return false
        }
      }
    },
    methods: {
      input(val) {
        this.$emit('update:modelValue', val.target.value)
        this.$emit('input', val.target.value)
      }
    }
  }
</script>

<style scoped>
.error-message-input {
  color: #f44336;
  font-size: 13px;
  display: block;
  margin-top: 3px;
  line-height: 10px;
  min-height: 10px;
}
</style>
