<template>
  <div>
    <el-date-picker
      style='width: 100%'
      v-model="modelValue"
      v-bind='$attrs'
      format='YYYY-MM-DD'
      type="date"
      :placeholder="placeholder"
      @change='input'
    >
    </el-date-picker>
    <div class='error-message-input' v-if='hideDetails'>{{ errorMessage }}</div>
  </div>
</template>

<script>
import {ElDatePicker} from 'element-plus'

export default {
  name: 'DatePicker',
  emits: { 'update:modelValue': null },
  components: {ElDatePicker},
  props: {
    modelValue: {},
    placeholder: {
      type: String
    },
    errorMessage: {
      type: String,
      default: () => {
        return ''
      }
    },
    hideDetails: {
      type: Boolean,
      default() {
        return false
      }
    }
  },
  methods: {
    input(val) {
      this.$emit('update:modelValue', val)
      this.$emit('input', val)
    }
  }
}
</script>

<style scoped>
.error-message-input {
  color: #f44336;
  font-size: 13px;
  display: block;
  margin-top: 3px;
  line-height: 10px;
  min-height: 10px;
}
</style>

