<template>
  <div class="flex items-center">
    <div v-if="icon" class="mr-3">
      <paperclip-icon style="color: gray" />
    </div>
    <input
      :value="fileName"
      :multiple='multiple'
      v-bind='$attrs'
      :class="['form-control', { 'border-theme-6': errorMessage.length }]"
      :placeholder='placeholder'
      @click="clickFileUpload"
    />
    <input type="file" ref="fileUploadRef" @change="input" style="display: none">
  </div>
  <div class='error-message-input' style="margin-left: 40px;">{{ errorMessage }}</div>
</template>

<script>
  import { Field } from 'vee-validate'

  export default {
    name: 'AppFileUpload',
    emits: { 'update:modelValue': null },
    components: { Field },
    props: {
      label: {
        type: String
      },
      modelValue: {},
      name: {
        type: String
      },
      placeholder: {
        type: String
      },
      errorMessage: {
        type: String,
        default: () => {
          return ''
        }
      },
      icon: {
        type: Boolean,
        default() {
          return true
        }
      },
      multiple: {
        type: Boolean,
        default() {
          return false
        }
      }
    },
    data() {
      return {
        fileName: ''
      }
    },
    methods: {
      input(val) {
        this.fileName = val.target.value
        if(!this.multiple) {
          this.$emit('update:modelValue', val.target.files[0])
        } else {
          this.$emit('update:modelValue', val.target.files)
        }
      },
      clickFileUpload() {
        const { fileUploadRef } = this.$refs
        fileUploadRef.click()
      }
    }
  }
</script>

<style scoped>
  .error-message-input {
    color: #f44336;
    font-size: 13px;
    display: block;
    margin-top: 3px;
    line-height: 10px;
    min-height: 10px;
  }
</style>
