<template>
  <el-dialog v-model='dialog' :width="isCode ? '400px' : '50%'">
    <template #title>
      <h2 class='text-lg font-medium mb-5 pl-0'>{{ $t('upBalance') }}</h2>
    </template>
    <Form @submit='saveShop' ref='form' v-if='!isCode'>
      <div class='grid grid-cols-12 gap-4' style='margin-top: -35px'>
        <div class='intro-y col-span-12 lg:col-span-6'>
          <div class='mt-2'>
            <Field :modelValue='user.amount' rules='required|min_value:1000' name='amount'
                   v-slot='{ errors }'>
              <app-input
                type='number'
                :error-message='errors[0]'
                :placeholder="$t('sum')"
                v-model='user.amount'
              />
            </Field>
          </div>
        </div>
        <div class='intro-y col-span-12 lg:col-span-6'>
          <div class='mt-2'>
            <Field :modelValue='user.payment_type' rules='required' name='payment_type' v-slot='{ errors }'>
              <app-select
                :error-message='errors[0]'
                :placeholder="$t('paymentType')"
                v-model='user.payment_type'
                item-value='key'
                item-text='name'
                :items='paymentTypeList'
              />
            </Field>
          </div>
        </div>
        <div class='intro-y col-span-12 lg:col-span-6'>
          <div class='mt-2'>
            <Field :modelValue='user.card_number' rules='required' name='card_number'
                   v-slot='{ errors }'>
              <app-input
                :error-message='errors[0]'
                v-maska="'#### #### #### ####'"
                :placeholder="$t('cardNumber')"
                v-model='user.card_number'
              />
            </Field>
          </div>
        </div>
        <div class='intro-y col-span-12 lg:col-span-6'>
          <div class='mt-2'>
            <Field :modelValue='user.expire_date' rules='required' name='expire_date'
                   v-slot='{ errors }'>
              <app-input
                :error-message='errors[0]'
                v-maska="'##/##'"
                :placeholder="$t('expire_date')"
                v-model='user.expire_date'
              />
            </Field>
          </div>
        </div>
      </div>
      <div class='flex mt-4'>
        <div style='flex-grow: 1'></div>
        <button class='btn mr-2' @click='dialog = false'>
          {{ $t('cancel') }}
        </button>
        <app-button class='btn btn-primary' :loading='loading'>
          {{ $t('save') }}
        </app-button>
      </div>
    </Form>
    <Form @submit='confirmCode' ref='form' v-if='isCode'>
      <div class='grid grid-cols-12 gap-4' style='margin-top: -35px'>
        <div class='intro-y col-span-12 lg:col-span-12'>
          <div class='mt-2'>
            <Field :modelValue='confirm.otp' rules='required' name='amount'
                   v-slot='{ errors }'>
              <app-input
                autofocus
                :error-message='errors[0]'
                :placeholder="$t('enterSmsCode')"
                v-model='confirm.otp'
              />
            </Field>
          </div>
        </div>
      </div>
      <div class='flex mt-4'>
        <div style='flex-grow: 1'></div>
        <div class='btn mr-2' @click='dialog = false'>
          {{ $t('cancel') }}
        </div>
        <app-button class='btn btn-primary' :loading='loading'>
          {{ $t('confirm') }}
        </app-button>
      </div>
    </Form>
  </el-dialog>
</template>

<script>
import { ElDialog } from 'element-plus'
import AppInput from '../../ui-component/form/AppInput'
import { Field, Form, useForm } from 'vee-validate'
import AppButton from '../../ui-component/app-button/AppButton'
import AppSelect from '../../ui-component/app-select/AppSelect'
import { maska } from 'maska'
import { service } from '../../../utils/LocalStorageService'
import Payment from '../../../service/pages/Payment'
import { clearingNumbers, getValueByKey } from '../../../utils/helperFunction'

const FORM = {
  payment_type: 'myuzcard',
  amount: null,
  card_number: null,
  expire_date: null
}

const CONFIRM = {
  session: null,
  transaction: null,
  otp: null
}

export default {
  name: 'UpBalanceShop',
  components: { AppSelect, AppButton, AppInput, Field, Form, ElDialog },
  directives: { maska },
  emits: { 'getData': null },
  setup() {
    const { resetForm } = useForm()

    return { resetForm }
  },
  data() {
    return {
      user: { ...FORM },
      loading: false,
      dialog: false,
      id: null,
      paymentTypeList: [
        { name: 'UzCard', key: 'myuzcard' }
      ],
      isCode: false,
      confirm: {...CONFIRM}
    }
  },
  mounted() {
    // this.typeList()
  },
  methods: {
    async confirmCode() {
      this.loading = true
      await Payment.confirmCode(this.confirm)
      .then(() => {
        this.$successNotify({
          text: this.$t('successDone')
        })
        this.dialog = false
        this.$emit('getData')
        this.$router.replace({query: {balance: 'update'}})
        this.$store.dispatch('getUser')
      })
      .catch(err => {
        this.$setErrorFromServer({ error: err })
        this.$setFormServer({ error: err, obs: this.$refs['form'] })
      })
      .finally(() => {
        this.loading = false
      })
    },
    openDialog(item) {
      this.dialog = true
      if (item) {
        this.id = item.id
      }
    },
    async saveShop() {
      this.loading = true
      this.user.card_number = clearingNumbers(this.user.card_number)
      await Payment.getPaymentAddBalance(this.user)
        .then(res => {
          const { data: { data } } = res
          if(data.result.session && data.result.transaction) {
            this.isCode = true
          }
          if(data.result) {
            this.confirm = getValueByKey(this.confirm, data.result)
          }
        })
        .catch(err => {
          this.$setErrorFromServer({ error: err })
          this.$setFormServer({ error: err, obs: this.$refs['form'] })
        })
        .finally(() => {
          this.loading = false
        })
    }
    // async typeList() {
    //   try {
    //     const { data: { data } } = await Payment.getPaymentType()
    //     this.paymentTypeList = data
    //   } catch (err) {
    //     this.$setErrorFromServer({ error: err })
    //   }
    // }
  },
  watch: {
    dialog(val) {
      if (!val) {
        this.user = { ...FORM }
        this.confirm = {...CONFIRM}
        this.$refs.form.resetForm()
      }
    }
  },
  computed: {
    userType() {
      return service.getUserType()
    }
  }
}
</script>

<style scoped>

</style>
