<template>
  <button v-bind='$attrs' class='btn' :disabled='loading'>
    <LoadingIcon
      icon="oval"
      color="white"
      class="w-4 h-4 mr-2"
      v-if='loading'
    />
    <div v-else class='flex' style='align-items: center'>
      <slot />
    </div>
  </button>
</template>

<script>
export default {
  name: 'AppButton',
  props: {
    loading: {
      type: Boolean,
      default() {
        return false
      }
    },
  }
}
</script>

<style scoped>
.shower-loading-btn {
  animation: infinite ease-in-out 1s both anim;
}

@keyframes anim {
  0% {
    opacity: 50%;
  }
  100% {
    opacity: 100%;
  }
}
</style>
