<template>
  <div class='app-loading'>
    <div class='spinner'>
      <div class='spinner-item'></div>
      <div class='spinner-item'></div>
      <div class='spinner-item'></div>
      <div class='spinner-item'></div>
      <div class='spinner-item'></div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'AppLoading',
}
</script>

<style lang='scss'>

.app-loading {
  position: fixed;
  background: rgba(0, 0, 0, .5);
  left: 0;
  top: 0;
  z-index: 1000000;
  width: 100%;
  min-height: 110vh;
}


:root {
  --size: 75px;
  --clr-bg: #272324;
  --clr1: #eee;
  --clr2: #efefef;
  --clr3: #eee;
  --clr4: #efefef;
  --clr5: #eee;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.spinner:nth-child(1) {
  --animation-duration: 1000ms;

  width: var(--size);
  height: var(--size);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  .spinner-item {
    width: calc(var(--size) / 12);
    height: 80%;
    background: var(--clr-spinner);
    animation: spinner1 var(--animation-duration) ease-in-out infinite;

    @keyframes spinner1 {
      50% {
        transform: scaleY(0.25);
      }
    }
  }

  .spinner-item:nth-child(1) {
    --clr-spinner: var(--clr1);
    animation-delay: calc(var(--animation-duration) / 10 * -3);
  }

  .spinner-item:nth-child(2) {
    --clr-spinner: var(--clr5);
    animation-delay: calc(var(--animation-duration) / 10 * -1);
  }

  .spinner-item:nth-child(3) {
    --clr-spinner: var(--clr3);
    animation-delay: calc(var(--animation-duration) / 10 * -2);
  }

  .spinner-item:nth-child(4) {
    --clr-spinner: var(--clr4);
    animation-delay: calc(var(--animation-duration) / 10 * -1);
  }

  .spinner-item:nth-child(5) {
    --clr-spinner: var(--clr2);
    animation-delay: calc(var(--animation-duration) / 10 * -3);
  }
}

</style>
