<template>
  <div>
    <Form @submit='save' ref='form'>
      <div class='flex justify-between my-4' style='justify-content: space-between'>
        <h2 class='text-lg font-medium' style='line-height: 20px'>{{ $route.params.id ? $t('update') : $t('create')
          }}</h2>
        <button class='btn btn-primary'>
          {{ $t('save') }}
          <LoadingIcon v-if='loading' icon='oval' color='white' class='w-4 h-4 ml-2' />
        </button>
      </div>
      <div class='grid grid-cols-12 gap-x-4 box p-4'>
        <div class='intro-y col-span-12 lg:col-span-6'>
          <div class='mt-2'>
            <Field :modelValue='form.first_name' rules='required|max:255' name='first_name' v-slot='{ errors }'>
              <app-input
                :error-message='errors[0]'
                :placeholder="$t('first_name')"
                v-model='form.first_name'
              />
            </Field>
          </div>
        </div>
        <div class='intro-y col-span-12 lg:col-span-6'>
          <div class='mt-2'>
            <Field :modelValue='form.last_name' rules='required|max:255' name='last_name' v-slot='{ errors }'>
              <app-input
                :error-message='errors[0]'
                :placeholder="$t('last_name')"
                v-model='form.last_name'
              />
            </Field>
          </div>
        </div>
        <div class='intro-y col-span-12 lg:col-span-6'>
          <div class='mt-2'>
            <Field :modelValue='form.middle_name' rules='required|max:255' name='middle_name' v-slot='{ errors }'>
              <app-input
                :error-message='errors[0]'
                :placeholder="$t('middle_name')"
                v-model='form.middle_name'
              />
            </Field>
          </div>
        </div>
        <div class='intro-y col-span-12 lg:col-span-6'>
          <div class='mt-2'>
            <Field :modelValue='form.passport_series' rules='required' name='passport_series' v-slot='{ errors }'>
              <app-input
                maxlength='2'
                :error-message='errors[0]'
                :placeholder="$t('passport_series')"
                v-model='form.passport_series'
              />
            </Field>
          </div>
        </div>
        <div class='intro-y col-span-12 lg:col-span-6'>
          <div class='mt-2'>
            <Field :modelValue='form.passport_series' rules='required' name='passport_series' v-slot='{ errors }'>
              <app-input
                v-maska="'#######'"
                :placeholder="$t('passport_number')"
                v-model='form.passport_number'
              />
            </Field>
          </div>
        </div>
        <div class='intro-y col-span-12 lg:col-span-6'>
          <div class='mt-2'>
            <Field :modelValue='form.passport_series' rules='required' name='passport_series' v-slot='{ errors }'>
              <app-input
                :placeholder="$t('pinfl')"
                v-model='form.pinfl'
              />
            </Field>
          </div>
        </div>
        <div class='intro-y col-span-12 lg:col-span-6'>
          <div class='mt-2'>
            <Field :modelValue='form.passport_series' rules='required' name='passport_series' v-slot='{ errors }'>
              <app-input
                v-maska="'#########'"
                :placeholder="$t('tin')"
                v-model='form.inn'
              />
            </Field>
          </div>
        </div>
        <div class='intro-y col-span-12 lg:col-span-6'>
          <div class='mt-2'>

            <date-picker
              v-model='form.birthday'
              :placeholder="$t('birthday')"
            />
          </div>
        </div>
        <div class='intro-y col-span-12 lg:col-span-6'>
          <div id='basic-select'>
            <div class='preview'>
              <!-- BEGIN: Basic Select -->
              <div>
                <div class='mt-2'>
                  <Field
                    v-slot='{ errors }'
                    :model-value='parent_id'
                    name='parent_id'>
                    <app-select
                      v-model='parent_id'
                      :error-message='errors[0]'
                      :items='locationsList'
                      item-value='id'
                      item-text='name'
                      :placeholder="$t('region')"
                    >
                    </app-select>
                  </Field>
                </div>
              </div>
              <!-- END: Basic Select -->
              <!-- BEGIN: Nested Select -->
              <!-- END: Nested Select -->
            </div>
          </div>
        </div>
        <div class='intro-y col-span-12 lg:col-span-6 mt-2'>
          <Field
            v-slot='{ errors }'
            :model-value='form.location_id'
            name='location_id'>
            <app-select
              v-model='form.location_id'
              :error-message='errors[0]'
              :items='locationChildList'
              item-value='id'
              item-text='name'
              :placeholder="$t('district')"
            >
            </app-select>
          </Field>
        </div>
        <div class='intro-y col-span-12 lg:col-span-6'>
          <Field
            v-slot='{ errors }'
            :model-value='form.gender'
            name='location_id'>
            <app-select
              v-model='form.gender'
              :error-message='errors[0]'
              :items='genderList'
              item-value='value'
              item-text='text'
              :placeholder="$t('gender')"
            >
            </app-select>
          </Field>
        </div>
      </div>
      <div class='multiple-shops grid grid-cols-12 gap-4 box p-4 mt-4' v-for='(item, shopIndex) in form.shops'
           :key='`shop${shopIndex}`'>
        <div class='intro-y col-span-12 lg:col-span-6'>
          <div class='mt-2'>
            <date-picker
              v-model='item.credit_started_date'
              :placeholder="$t('credit_started_date')"
            />
          </div>
        </div>
        <div class='intro-y col-span-12 lg:col-span-6'>
          <div class='mt-2'>

            <date-picker
              v-model='item.last_paid_date'
              :placeholder="$t('last_paid_date')"
            />
          </div>
        </div>
        <div class='intro-y col-span-12 lg:col-span-6 mt-2'>
          <app-select
            v-model='item.shop_id'
            :items='shopList'
            item-value='id'
            item-text='company_name'
            :placeholder="$t('branches')"
          >
          </app-select>
        </div>
        <div class='intro-y col-span-12 lg:col-span-6'>
          <div class='mt-2'>
            <app-input
              type='number'
              :placeholder="$t('credit_amount')"
              v-model='item.credit_amount'
            />
          </div>
        </div>
        <div class='intro-y col-span-12 lg:col-span-6'>
          <div class='mt-2'>
            <app-input
              type='number'
              :placeholder="$t('credit_debt')"
              v-model='item.credit_debt'
            />
          </div>
        </div>
        <div class='intro-y col-span-12 lg:col-span-6'>
          <div class='mt-2'>
            <Field name='comment' rules='required|max:255' v-slot='{ errors }' :modelValue='item.comment'>
              <app-input
                :error-message='errors[0]'
                :placeholder="$t('comment')"
                v-model='item.comment'
              />
            </Field>
          </div>
        </div>
        <div class='intro-y col-span-12 lg:col-span-6'>
          <div class='mt-2'>
            <Field :modelValue='item.phone' rules='required' name='phone' v-slot='{ errors }'>
              <app-input
                v-maska="'+998 (##) ###-##-##'"
                :error-message='errors[0]'
                :placeholder="$t( 'phone')"
                v-model='item.phone'
              />
            </Field>
          </div>
        </div>
        <div class='intro-y col-span-12 lg:col-span-6'>
          <div class='mt-2'>
            <Field :modelValue='item.address' rules='required' name='address' v-slot='{ errors }'>
              <app-input
                :error-message='errors[0]'
                :placeholder="$t('address')"
                v-model='form.shops[shopIndex].address'
              />
            </Field>
          </div>
        </div>
        <div class='intro-y col-span-12 lg:col-span-6'>
          <div class='mt-2'>
            <Field :modelValue='item.monthly_payment' rules='required' name='monthly_payment'
                   v-slot='{ errors }'>
              <app-input
                :error-message='errors[0]'
                :placeholder="$t('monthly_payment')"
                type='number'
                v-model='form.shops[shopIndex].monthly_payment'
              />
            </Field>
          </div>
        </div>
        <div class='intro-y col-span-12 lg:col-span-6 pt-2'>
          <div class='btn btn-primary' @click='addShop' v-if='shopIndex === form.shops.length-1'>
            {{ $t('addShop') }}
            <plus-icon class='ml-2' size='14' />
          </div>
        </div>
        <div class='close-icon-btn' v-if='shopIndex > 0' @click='removeShop(shopIndex)'>
          <x-icon size='1x' />
        </div>
      </div>
    </Form>
  </div>
</template>

<script>
import AppInput from '../../ui-component/form/AppInput'
import { Form, Field } from 'vee-validate'
import Locations from '../../../service/pages/Locations'
import AppSelect from '../../ui-component/app-select/AppSelect'
import Shop from '../../../service/pages/Shop'
import BlackListUsers from '../../../service/pages/BlackListUsers'
import { clearingNumbers, getValueByKey } from '../../../utils/helperFunction'
import { maska } from 'maska'
import DatePicker from '../../ui-component/form/DatePicker'

const FORM = {
  first_name: null,
  last_name: null,
  middle_name: null,
  passport_series: null,
  passport_number: null,
  pinfl: null,
  inn: null,
  location_id: null,
  gender: null,
  birthday: null,
  shops: [
    {
      credit_started_date: '',
      last_paid_date: '',
      credit_amount: null,
      credit_debt: null,
      comment: null,
      phone: null,
      address: null,
      monthly_payment: null
    }
  ]
}

export default {
  name: 'CreateUpdateShopCabinet',
  directives: { maska },
  components: {
    DatePicker,
    AppSelect,
    AppInput,
    Field,
    Form
  },
  data() {
    return {
      form: { ...FORM },
      loading: false,
      email: '',
      locationsList: [],
      locationChildList: [],
      parent_id: '',
      shopCabinetData: {},
      shopList: []
    }
  },
  created() {
    this.getOneShopCabinet()
    this.getShopList()
  },
  methods: {
    removeShop(index) {
      this.form.shops.splice(index, 1)
    },
    addShop() {
      this.form.shops.push({
        credit_started_date: '',
        last_paid_date: '',
        credit_amount: null,
        credit_debt: null,
        comment: null,
        phone: null,
        address: null
      })
    },
    async save() {
      const { id } = this.$route.params
      this.form.shops.map(p => {
        p.phone = clearingNumbers(p.phone)
      })
      try {
        if (id) {
          await BlackListUsers.update(id, this.form)
        } else {
          await BlackListUsers.create(this.form)
        }
        this.$successNotify({ text: this.$t('notify.save') })

        await this.$router.push({ name: 'side-menu-black-list-users' })
      } catch (err) {
        this.$setErrorFromServer({ error: err })
        this.$setFormServer({ error: err, obs: this.$refs['form'] })
      }
    },
    async getLocationsList(val) {
      try {
        const { data: { data } } = await Locations.getListForShopCabinet()
        this.locationsList = data ? data : []
        data.forEach(p => {
          if(+p.id === +val.location_id) {
            this.parent_id = val.location_id
            this.form.location_id = null
          }
          if(+p.id !== +val.location_id && p.children && p.children.length) {
            p.children.forEach(b => {
              if(+b.id === +val.location_id) {
                this.parent_id = p.id
                this.form.location_id = b.id
              }
            })
          }
        })
      } catch (err) {
        this.$setErrorFromServer({ error: err })
      }
    },
    async getShopList() {
      try {
        const { data: { data } } = await Shop.getList()
        this.shopList = data ? data : []
      } catch (err) {
        this.$setErrorFromServer({ error: err })
      }
    },
    async getOneShopCabinet() {
      const { id } = this.$route.params
      if (id) {
        try {
          const { data: { data } } = await BlackListUsers.getOne(id)
          this.form = getValueByKey(this.form, data)
          await this.getLocationsList(data)
        } catch (err) {
          this.$setErrorFromServer({ error: err })
        }
      }
    }
  },
  computed: {
    genderList() {
      return [
        {
          text: this.$t('female'),
          value: 'f'
        },
        {
          text: this.$t('male'),
          value: 'm'
        }
      ]
    }
  },
  watch: {
    parent_id(val) {
      this.locationsList.map(p => {
        if (+val === +p.id) {
          this.locationChildList = p.children
        }
      })
    }
  }
}
</script>

<style scoped>

</style>
