<template>
  <el-dialog v-model='dialog'>
    <template #title>
      {{ $t('importExel') }}
    </template>
    <Form @submit='exportExel' ref='form'>
      <div class='grid grid-cols-12 gap-4'>
        <div class='intro-y col-span-12 lg:col-span-6'>
          <div class='mt-2'>
            <Field name='shop_id' v-slot='{ errors }' :modelValue='form.shop_id' rules='required'>
              <app-select
                :error-message='errors[0]'
                :items='shops'
                v-model='form.shop_id'
                item-text='company_name'
                item-value='id'
              />
            </Field>
          </div>
        </div>
        <div class='intro-y col-span-12 lg:col-span-6'>
          <div class='mt-2'>
            <Field name='file' v-slot='{ errors }' :modelValue='form.file' rules='required'>
              <app-file-upload
                :error-message='errors[o]'
                :placeholder="$t('password_confirmation')"
                v-model='form.file'
              />
            </Field>
          </div>
        </div>
      </div>
      <div class='flex mt-4'>
        <div style='flex-grow: 1'></div>
        <div class='btn mr-2' @click='dialog = false'>
          {{ $t('cancel') }}
        </div>
        <app-button
          class='btn btn-primary'
          :loading='exelLoading'
          type='submit'
          :disabled='!form.file'
        >
          {{ $t('save') }}
        </app-button>
      </div>
    </Form>
  </el-dialog>
</template>

<script>
import { ElDialog } from 'element-plus'
import { ref } from 'vue'
import { Field, Form } from 'vee-validate'
import BlackListUsers from '../../../service/pages/BlackListUsers'
import AppSelect from '../../ui-component/app-select/AppSelect'
import Shop from '../../../service/pages/Shop'
import AppButton from '../../ui-component/app-button/AppButton'
import AppFileUpload from '../../ui-component/form/UploadFile'

export default {
  name: 'ImportExel',
  components: { AppFileUpload, AppButton, AppSelect, ElDialog, Form, Field },
  setup() {
    let dialog = ref(false)

    return { dialog }
  },
  data() {
    return {
      form: {
        file: null,
        shop_id: null
      },
      shops: [],
      exelLoading: false
    }
  },
  created() {
    this.getShopList()
  },
  methods: {
    async getShopList() {
      try {
        const { data: { data } } = await Shop.getList()
        this.shops = data
      } catch (err) {
        this.$setErrorFromServer({ error: err })
      }
    },
    openDialog() {
      this.dialog = true
    },
    exportExel() {
      this.exelLoading = true
      const file = this.form.file
      const formData = new FormData()
      formData.append('file', file)
      formData.append('shop_id', this.form.shop_id)
      BlackListUsers.importExel(formData)
        .then(() => {
          this.$successNotify({
            text: this.$t('notify.imported')
          })
          this.dialog = false
          this.$emit('getData')
        })
        .catch(err => {
          this.$setErrorFromServer({ error: err })
        })
        .finally(() => {
          this.exelLoading = false
        })
    }
  }
}
</script>

<style scoped>

</style>
