<template>
  <div class='intro-x dropdown w-6 h-8 mr-5' style='margin-top: 2px;'>
    <div
      class='dropdown-toggle rounded-full overflow-hidden'
      role='button'
      aria-expanded='false'
      style='height: 100%'
    >
      <div style='height: 100%; display: flex; align-items: center'>
        {{ lang.text }}
      </div>
    </div>
    <div class='dropdown-menu w-25' ref='dropdownRef'>
      <div
        class='dropdown-menu__content box bg-theme-26 dark:bg-dark-6 text-white'
      >
        <div class='p-2' v-for='(menu, index) in langMenu' :key='`index${index}`'>
          <div
            style='cursor: pointer'
            @click='closeDropdown(menu)'
            class='flex items-center block p-2 transition duration-300 ease-in-out hover:bg-theme-1 dark:hover:bg-dark-3 rounded-md'
          >
            {{ menu.text }}
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  name: 'LanguageDropdown',
  data() {
    return {
      lang: { value: 'ru', text: 'RU' },
      langMenu: [
        { value: 'ru', text: 'RU' },
        { value: 'uz', text: 'UZ' },
        { value: 'oz', text: 'УЗ' }
      ]
    }
  },
  mounted() {
    this.checkLang()
    localStorage.setItem('lang', JSON.stringify(this.lang))
  },
  methods: {
    closeDropdown(val) {
      this.lang = val
      this.$refs.dropdownRef.classList.remove('show')
      localStorage.setItem('lang', JSON.stringify(val))
      document.location.reload()
    },
    checkLang() {
      const lang = JSON.parse(localStorage.getItem('lang'))
      if(lang) {
        this.lang = lang
        this.$i18n.locale = lang.value
      }

    }
  }
}
</script>

<style scoped>
.el-dropdown-link {
  cursor: pointer;
  color: #409EFF;
}

.el-icon-arrow-down {
  font-size: 12px;
}
</style>
