<template>
  <div class='app-select-blue' :class="{'dark-mode-select' : darkMode}">
    <el-select
      v-model='modelValue'
      :placeholder='placeholder'
      style='width: 100%'
      @change='change'
      :loading='loading'
      v-bind='$attrs'
      :class="{'border-theme-6' : errorMessage}"
    >
      <el-option
        :disabled='item.disabled'
        v-for='(item, index) in items'
        :key='`select${index}`'
        :label='item[itemText]'
        :value='item[itemValue]'
      >
        <slot name='item' :index='index' />
      </el-option>
    </el-select>
    <div class='error-message-input' v-if='!hideDetails'>{{ errorMessage }}</div>
  </div>
</template>

<script>
import { ElSelect, ElOption } from 'element-plus'

export default {
  components: { ElSelect, ElOption },
  name: 'app-select',
  props: {
    items: {
      type: Array
    },
    loading: {
      type: Boolean,
      default() {
        return false
      }
    },
    hideDetails: {
      type: Boolean,
      default() {
        return false
      }
    },
    modelValue: {
      default: () => {
        return ''
      }
    },
    placeholder: {
      type: String
    },
    errorMessage: {
      type: String,
      default: () => {
        return ''
      }
    },
    itemValue: {
      type: String
    },
    itemText: {
      type: String
    }
  },
  emits: { 'update:modelValue': null },
  methods: {
    change(val) {
      this.$emit('update:modelValue', val)
    }
  },
  computed: {
    darkMode() {
      return this.$store.state.main.darkMode
    }
  },
}

</script>

<style lang='scss'>
.app-select-blue {
  .el-input__inner {
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.375rem;
    border-width: 1px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }
}
</style>
