<template>
  <!-- BEGIN: Top Bar -->
  <div class="top-bar">
    <!-- BEGIN: Breadcrumb -->
    <div class="-intro-x breadcrumb mr-auto hidden sm:flex">
      <back-router v-if='permissionBackRouter' />
    </div>
    <!-- END: Breadcrumb -->
    <!-- BEGIN: Search -->
    <div class="intro-x relative mr-3 sm:mr-6" v-if="userType === 'shop' && isTariff === true">
      <div class='text-1xl' @click='isTariffShow = !isTariffShow' >{{ $t('scoring_count') }}:
        <span
          class='font-bold'
          :style="[scoringCount > 0 ? successColor : errorColor ]"
        >
          {{ scoringCount }} {{ $t('num') }}
        </span>
      </div>
      <transition name='balance-show'>
        <div v-if='isTariffShow' class='top-up-balance__body box' @click='openChangeTariff'>
          {{ $t('buyScoring') }}
        </div>
      </transition>
    </div>
    <buy-tariff-shop
      ref='buyTariffRef'
    />

    <div class="top-up-balance intro-x relative mr-3 sm:mr-6" v-if="userType === 'shop'">
      <div class='text-1xl' @click='isBalanceShow = !isBalanceShow'>{{ $t('balance') }}:
        <span
          class='font-bold'
          :style="[balance > 0 ? successColor : errorColor ]"
          v-if='balance'
        >
          {{ balance }} {{ $t('som') }}
        </span>
      </div>
      <transition name='balance-show'>
        <div v-if='isBalanceShow' class='top-up-balance__body box' @click='openChangeBalance'>
          {{ $t('topUp') }}
        </div>
      </transition>
    </div>
    <up-balance-shop
      ref='upBalanceRef'
    />

    <dark-mode-switcher class='mr-5' />
    <language-dropdown />
    <div class="intro-x dropdown w-8 h-8">
      <div
        class="dropdown-toggle w-8 h-8 rounded-full overflow-hidden shadow-lg image-fit zoom-in"
        role="button"
        aria-expanded="false"
      >
        <img
          alt="Icewall Tailwind HTML Admin Template"
          :src="require(`@/assets/images/${$f()[9].photos[0]}`)"
        />
      </div>
      <div class="dropdown-menu w-56" ref='dropdownRef'>
        <div
          class="dropdown-menu__content box bg-theme-26 dark:bg-dark-6 text-white"
        >
          <div class="p-2">
            <div
              v-if="userType === 'shop'"
              style='cursor: pointer'
              @click='nextProfile'
              class="flex items-center block p-2 transition duration-300 ease-in-out hover:bg-theme-1 dark:hover:bg-dark-3 rounded-md"
            >
              <UserIcon class="w-4 h-4 mr-2" /> {{ $t('profile') }}
            </div>
            <div
              @click='openPasswordDialog'
              style='cursor: pointer'
              class="flex items-center block p-2 transition duration-300 ease-in-out hover:bg-theme-1 dark:hover:bg-dark-3 rounded-md"
            >
              <LockIcon class="w-4 h-4 mr-2" /> {{ $t('resetPassword') }}
            </div>
          </div>
          <div class="p-2 border-t border-theme-27 dark:border-dark-3">
            <a
              href=''
              @click.prevent='logout'
              class="flex items-center block p-2 transition duration-300 ease-in-out hover:bg-theme-1 dark:hover:bg-dark-3 rounded-md"
            >
              <ToggleRightIcon class="w-4 h-4 mr-2" />
              {{ $t('logout') }}
            </a>
          </div>
        </div>
      </div>
    </div>
    <shop-change-password-username
      ref='changePasswordRef'
    />
    <!-- END: Account Menu -->
  </div>
  <span v-if='isTariffShow || isBalanceShow' @click='isTariffShow = false, isBalanceShow = false' class='shadow-balance'></span>
  <!-- END: Top Bar -->
</template>

<script>
import { defineComponent, ref } from 'vue'
import BackRouter from '../ui-component/back-router/BackRouter'
import ShopChangePasswordUsername from '../pages/shop/ShopChangePassword'
import { service } from '../../utils/LocalStorageService'
import DarkModeSwitcher from '../dark-mode-switcher/Main'
import LanguageDropdown from '../language-dropdown/LanguageDropdown'
import refreshBalanceMixin from '../../views/pages/home/refresh-balance-mixin'
import UpBalanceShop from '@/components/pages/report/UpBalanceShop'
import BuyTariffShop from '@/components/pages/shop/BuyTariffShop'

export default defineComponent({
  components: { BuyTariffShop, UpBalanceShop, LanguageDropdown, DarkModeSwitcher, ShopChangePasswordUsername, BackRouter },
  setup() {
    const searchDropdown = ref(false)
    let isBalanceShow = ref(false)
    let isTariffShow = ref(false)

    const showSearchDropdown = () => {
      searchDropdown.value = true
    }

    const hideSearchDropdown = () => {
      searchDropdown.value = false
    }

    return {
      isTariffShow,
      isBalanceShow,
      searchDropdown,
      showSearchDropdown,
      hideSearchDropdown,
    }
  },
  mixins: [refreshBalanceMixin],
  created() {
    this.getServiceUserInfo()
  },
  methods: {

    nextProfile() {
      this.closeDropdown()
      this.$router.push('profile')
    },
    logout() {
      localStorage.removeItem('Authorization')
      localStorage.clear()
      this.$router.push({name: 'login'})
      this.closeDropdown()
    },
    openPasswordDialog() {
      const { changePasswordRef } = this.$refs
      changePasswordRef.openDialog()
      this.closeDropdown()
    },
    closeDropdown() {
      this.$refs.dropdownRef.classList.remove('show')
    },
    openChangeBalance() {
      this.$refs.upBalanceRef.openDialog()
    },
    openChangeTariff() {
      this.$refs.buyTariffRef.openDialog()
    }
  },
  computed: {
    userType() {
      return service.getUserType()
    },
    successColor() {
      return {
        color: '#2b7c34'
      }
    },
    errorColor() {
      return {
        color: '#d25252'
      }
    },
    balance() {
      return this.$store.state.userInfo.balance ? this.$store.state.userInfo.balance : 0
    },
    isTariff() {
      return this.$store.state.userInfo.is_tariff
    },
    scoringCount() {
      return this.$store.state.userInfo.scoring_count ? this.$store.state.userInfo.scoring_count : 0
    },
    permissionBackRouter() {
      return this.$route.meta.back
    }
  },
})
</script>

<style lang='scss'>
.top-up-balance {
  position: relative;
  &__body {
    position: absolute !important;
    min-width: 100%;
    top: 30px;
    padding: 10px 20px;
    cursor: pointer;
    z-index: 10;
    white-space: nowrap;
  }
  &:hover &__body {
    display: block;
    opacity: 1;
    z-index: 10;
    transform: translateX(0);
  }
}
.shadow-balance {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 5;
}

.v-enter-active,
.v-leave-active {
  transition: opacity 0.5s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}
</style>
