<template>
  <el-switch
    v-if="$route.name !== 'login'"
    v-model='themeSwitch'
    @change='changeTheme'
    :active-text="$t('night')"
  ></el-switch>
  <!-- END: Dark Mode Switcher-->
</template>

<script>
import { defineComponent } from 'vue'
import { ElSwitch } from 'element-plus'

export default defineComponent({
  name: 'DarkModeSwitcher',
  components: {ElSwitch},
  data() {
    return {
      themeSwitch: false
    }
  },
  mounted() {
    this.checkTheme()
  },
  methods: {
    changeTheme(val) {
      localStorage.setItem('theme', val)
      const theme = localStorage.getItem('theme')
      theme === 'true' ? cash('html').addClass('dark') : cash('html').removeClass('dark')
    },
    checkTheme () {
      const theme = localStorage.getItem('theme')
      theme === 'true' ? cash('html').addClass('dark') : cash('html').removeClass('dark')
      theme === 'true' ? this.themeSwitch = true : this.themeSwitch = false
    }
  }
})
</script>
