<template>
  <el-dialog v-model='dialog' :width="'400px'">
    <template #title>
      <h2 class='text-lg font-medium mb-5 pl-0'>{{ $t('buyScoring') }}</h2>
    </template>
    <Form @submit='saveShop' ref='form'>
      <div class='grid grid-cols-12 gap-4' style='margin-top: -35px'>
        <div class='intro-y col-span-12 lg:col-span-6'>
          <div class='mt-2'>
            <Field :modelValue='user.amount' rules='required|min_value:1' name='amount'
                   v-slot='{ errors }'>
              <app-input
                type='number'
                :error-message='errors[0]'
                :placeholder="$t('amount')"
                v-model='user.amount'
              />
            </Field>
          </div>
        </div>
        <div class='intro-y col-span-12 lg:col-span-6'>
          <div class='mt-2'>
            {{ priceBonus.bonus }} % {{ $t('bonus') }} (50+)
            <br>
            {{ $t('price') }} {{ priceBonus.price }}
          </div>
        </div>
      </div>
      <div v-if='user.amount'>
        {{ $t('sum') }} {{ user.amount * priceBonus.price }}
      </div>

      <div class='flex mt-4'>
        <div style='flex-grow: 1'></div>
        <button class='btn mr-2' @click='dialog = false'>
          {{ $t('cancel') }}
        </button>
        <app-button class='btn btn-primary' :loading='loading'>
          {{ $t('save') }}
        </app-button>
      </div>
    </Form>
  </el-dialog>
</template>

<script>
import { ElDialog } from 'element-plus'
import AppInput from '../../ui-component/form/AppInput'
import { Field, Form, useForm } from 'vee-validate'
import AppButton from '../../ui-component/app-button/AppButton'
import AppSelect from '../../ui-component/app-select/AppSelect'
import { maska } from 'maska'
import { service } from '../../../utils/LocalStorageService'
import Payment from '../../../service/pages/Payment'

const FORM = {
  amount: null
}

export default {
  name: 'BuyTariffShop',
  components: { AppSelect, AppButton, AppInput, Field, Form, ElDialog },
  directives: { maska },
  emits: { 'getData': null },
  setup() {
    const { resetForm } = useForm()

    return { resetForm }
  },
  data() {
    return {
      user: { ...FORM },
      loading: false,
      dialog: false,
      priceBonus: null
    }
  },
  created() {
    const userType = service.getUserType()
    if (userType === 'shop')
      this.getPriceBonus()
  },
  methods: {
    openDialog(item) {
      this.dialog = true
      if (item) {
        this.id = item.id
      }
    },
    async saveShop() {
      this.loading = true
      await Payment.buyTariff(this.user)
        .then(res => {
          this.$successNotify({
            text: this.$t('successDone')
          })
          this.dialog = false
          this.$emit('getData')
          this.$store.dispatch('getUser')
        })
        .catch(err => {
          this.$setErrorFromServer({ error: err })
          this.$setFormServer({ error: err, obs: this.$refs['form'] })
        })
        .finally(() => {
          this.loading = false
        })
    },
    async getPriceBonus() {
      try {
        const { data: { data } } = await Payment.getPriceWithBonus()
        this.priceBonus = data
      } catch (err) {
        this.$setErrorFromServer({ error: err })
      } finally {
        this.$clearLoading()
      }
    }
  },
  watch: {
    dialog(val) {
      if (!val) {
        this.user = { ...FORM }
        this.$refs.form.resetForm()
      }
    }
  },
  // computed: {
  //   userType() {
  //     return service.getUserType()
  //   }
  // }
}
</script>

<style scoped>

</style>
