<template>
  <div>
    <Form @submit='save' ref='form'>
      <div class='flex justify-between my-4' style='justify-content: space-between'>
        <h2 class='text-lg font-medium' style='line-height: 20px'>{{ $route.params.id ? $t('update') : $t('create')
          }}</h2>
        <div class='flex'>
          <div
            class='btn mr-2 btn-warning'
            @click='openPasswordDialog'
            v-if='$route.params.id'
          >
            {{ $t('editPassword') }}
          </div>
          <app-button
            class='btn btn-primary'
            :loading='loading'
          >
            {{ $t('save') }}
          </app-button>
        </div>
      </div>
      <div class='grid grid-cols-12 gap-x-4 box p-4' v-if='!$route.params.id'>
        <div class='intro-y col-span-12 lg:col-span-6'>
          <div class='mt-2'>
            <Field :modelValue='user.username' rules='required' name='username' v-slot='{ errors }'>
              <app-input
                :error-message='errors[0]'
                :placeholder="$t('username')"
                v-model='user.username'
              />
            </Field>
          </div>
        </div>
        <div class='intro-y col-span-12 lg:col-span-6'>
          <div class='mt-2'>
            <Field :modelValue='user.password' rules='required|min:6' name='password' v-slot='{ errors }'>
              <app-input
                :error-message='errors[0]'
                :placeholder="$t('password')"
                v-model='user.password'
              />
            </Field>
          </div>
        </div>
      </div>
      <div class='grid grid-cols-12 gap-x-4 box p-4 mt-4'>
        <div class='intro-y col-span-12 lg:col-span-6'>
          <div id='basic-select'>
            <div class='preview'>
              <Field
                v-slot='{ errors }'
                :modelValue='parent_id'
                name='parent_id'>
                <app-select
                  v-model='parent_id'
                  :error-message='errors[0]'
                  :items='locationsList'
                  item-value='id'
                  item-text='name'
                  :placeholder="$t('region')"
                />
              </Field>
            </div>
          </div>
        </div>
        <div class='intro-y col-span-12 lg:col-span-6'>
          <Field
            v-slot='{ errors }'
            :model-value='form.location_id'
            name='location_id'
            :rules='{ required: parent_id }'
          >
            <app-select
              v-model='form.location_id'
              :error-message='errors[0]'
              :items='locationChildList'
              item-value='id'
              item-text='name'
              :placeholder="$t('district')"
            >
            </app-select>
          </Field>
        </div>
        <div class='intro-y col-span-12 lg:col-span-6'>
          <div class='mt-2'>
            <Field :modelValue='form.brand_name' rules='required|max:255' name='brand_name' v-slot='{ errors }'>
              <app-input
                :error-message='errors[0]'
                :placeholder="$t('brand_name')"
                v-model='form.brand_name'
              />
            </Field>
          </div>
        </div>

        <div class='intro-y col-span-12 lg:col-span-6'>
          <div class='mt-2'>
            <Field :modelValue='form.company_name' rules='required|max:255' name='company_name' v-slot='{ errors }'>
              <app-input
                :error-message='errors[0]'
                :placeholder="$t('company_name')"
                v-model='form.company_name'
              />
            </Field>
          </div>
        </div>
        <div class='intro-y col-span-12 lg:col-span-6'>
          <div class='mt-2'>
            <app-file-upload
              :placeholder="$t('logo')"
              v-model='form.logo'
            />
          </div>
        </div>
        <div class='intro-y col-span-12 lg:col-span-6'>
          <div class='mt-2'>
            <Field :modelValue='form.address' rules='required|max:255' name='address' v-slot='{ errors }'>
              <app-input
                :error-message='errors[0]'
                :placeholder="$t('address')"
                v-model='form.address'
              />
            </Field>
          </div>
        </div>
        <div class='intro-y col-span-12 lg:col-span-6'>
          <div class='mt-2'>
            <Field :modelValue='form.info' rules='max:255' name='info' v-slot='{ errors }'>
              <app-input
                :error-message='errors[0]'
                :placeholder="$t('info')"
                v-model='form.info'
              />
            </Field>
          </div>
        </div>
        <div class='intro-y col-span-12 lg:col-span-6'>
          <div class='mt-2'>
            <Field :modelValue='form.director_full_name' rules='max:255' name='director_full_name' v-slot='{ errors }'>
              <app-input
                :error-message='errors[0]'
                :placeholder="$t('director_full_name')"
                v-model='form.director_full_name'
              />
            </Field>
          </div>
        </div>
        <div class='intro-y col-span-12 lg:col-span-6'>
          <div class='mt-2'>
            <Field :modelValue='form.bank' rules='max:255' name='bank' v-slot='{ errors }'>
              <app-input
                :error-message='errors[0]'
                :placeholder="$t('bank')"
                v-model='form.bank'
              />
            </Field>
          </div>
        </div>
        <div class='intro-y col-span-12 lg:col-span-6'>
          <div class='mt-2'>
            <Field :modelValue='form.mfo' rules='max:5' name='mfo' v-slot='{ errors }'>
              <app-input
                v-maska="'#####'"
                :error-message='errors[0]'
                :placeholder="$t('mfo')"
                v-model='form.mfo'
              />
            </Field>
          </div>
        </div>
        <div class='intro-y col-span-12 lg:col-span-6'>
          <div class='mt-2'>
            <Field :modelValue='form.inn' rules='max:9' name='inn' v-slot='{ errors }'>
              <app-input
                :error-message='errors[0]'
                type='text'
                maxlength='9'
                v-maska="'#########'"
                :placeholder="$t('tin')"
                v-model='form.inn'
              />
            </Field>
          </div>
        </div>
        <div class='intro-y col-span-12 lg:col-span-6'>
          <div class='mt-2'>
            <Field :modelValue='form.payment_account' rules='max:30' name='payment_account' v-slot='{ errors }'>
              <app-input
                :error-message='errors[0]'
                type='number'
                :placeholder="$t('payment_account')"
                v-model='form.payment_account'
              />
            </Field>
          </div>
        </div>
        <div class='intro-y col-span-12 lg:col-span-6'>
          <div class='mt-2'>
            <Field :modelValue='form.document_number' rules='max:255' name='document_number' v-slot='{ errors }'>
              <app-input
                :error-message='errors[0]'
                type='number'
                :placeholder="$t('document_number')"
                v-model='form.document_number'
              />
            </Field>
          </div>
        </div>
        <div class='intro-y col-span-12 lg:col-span-6'>
          <div id='basic-select-3'>
            <div class='preview'>
              <div class='mt-2'>
                <Field name='status' :modelValue='form.status' rules='required' v-slot='{ errors }'>
                  <app-select
                    v-model='form.status'
                    :error-message='errors[0]'
                    :items='statusList'
                    item-value='value'
                    item-text='text'
                    :placeholder="$t('status')"
                  >
                  </app-select>
                </Field>
              </div>
            </div>
          </div>
        </div>
        <div class='intro-y col-span-12 lg:col-span-6'>
        <div id='basic-select-3'>
          <div class='preview'>
            <div class='mt-2'>
              <Field name='is_tariff' :modelValue='form.is_tariff' rules='required' v-slot='{ errors }'>
                <app-select
                  v-model='form.is_tariff'
                  :error-message='errors[0]'
                  :items='list'
                  item-value='value'
                  item-text='text'
                  :placeholder="$t('is_tariff')"
                >
                </app-select>
              </Field>
            </div>
          </div>
        </div>
      </div>
        <div class='col-span-12 lg:col-span-6' v-for='(phone, phoneIndex) in phones'>
          <div class='mt-2 flex'>
            <div style='width: 100%'>
              <Field :modelValue='phone.phone' rules='required' name='phones' v-slot='{ errors }'>
                <app-input
                  :error-message='errors[0]'
                  :placeholder="$t('phone')"
                  v-model='phone.phone'
                  v-maska="'+998 (##) ###-##-##'"
                />
              </Field>
            </div>
            <div
              class='btn btn-primary h-10 ml-2'
              v-if='phoneIndex === 0'
              @click='addPhone'
            >
              <plus-icon />
            </div>
            <div
              class='btn btn-danger h-10 ml-2'
              v-if='phoneIndex > 0'
              @click='removePhone(phoneIndex)'
            >
              <minus-icon />
            </div>
          </div>
        </div>
      </div>
      <div class='grid grid-cols-12 gap-x-4 box p-4 mt-4'>
        <div class='intro-y col-span-12 lg:col-span-6'>
          <div class='mt-2'>
            <Field :modelValue='price_list.key' name='key' v-slot='{ errors }'>
              <app-select
                v-model='price_list.key'
                :error-message='errors[0]'
                :items='priceList'
                item-value='key'
                item-text='name'
                :placeholder="$t('shopKey')"
              >
              </app-select>
            </Field>
          </div>
        </div>
        <div class='intro-y col-span-12 lg:col-span-6'>
          <div class='mt-2'>
            <Field :modelValue='price_list.price' name='price' v-slot='{ errors }'>
              <app-input
                :error-message='errors[0]'
                :placeholder="$t('price')"
                v-model='price_list.price'
              />
            </Field>
          </div>
        </div>
      </div>
    </Form>
    <shop-change-password-username ref='passwordChangeRef' />
  </div>
</template>

<script>
import AppSelect from '../../ui-component/app-select/AppSelect'
import AppInput from '../../ui-component/form/AppInput'
import Locations from '../../../service/pages/Locations'
import { Form, Field } from 'vee-validate'
import AppFileUpload from '../../ui-component/form/UploadFile'
import Shop from '../../../service/pages/Shop'
import { clearingNumbers, getValueByKey } from '../../../utils/helperFunction'
import Price from '../../../service/pages/Price'
import ShopChangePasswordUsername from './ShopChangePassword'
import VAutocomplete from '../../ui-component/VAutocomplete/VAutocomplete'
import AppButton from '../../ui-component/app-button/AppButton'
import { maska } from 'maska'

const FORM = {
  location_id: null,
  brand_name: null,
  company_name: null,
  balance: null,
  logo: null,
  address: null,
  info: null,
  director_full_name: null,
  bank: null,
  mfo: null,
  inn: null,
  payment_account: null,
  document_number: null,
  status: '',
  price_lists: [],
  username: null,
  user_id: null,
  is_tariff: null
}

export default {
  name: 'CreateUpdateShop',
  directives: { maska },
  components: {
    AppButton,
    AppSelect,
    AppFileUpload,
    AppInput,
    Field,
    ShopChangePasswordUsername,
    Form,
    VAutocomplete
  },
  data() {
    return {
      form: { ...FORM },
      loading: false,
      email: '',
      locationsList: [],
      locationChildList: [],
      parent_id: null,
      locationOptions: {
        placeholder: this.$t('locations')
      },
      parentOptions: {
        placeholder: this.$t('locations')
      },
      statusOptions: {
        placeholder: this.$t('status')
      },
      phones: [{ phone: '' }],
      price_list: {
        price: null,
        key: null
      },
      user: {
        username: null,
        password: null
      },
      priceList: [],
      btnLoading: false
    }
  },
  created() {
    if (!this.$route.params.id) {
      this.getLocationsList()
    }
    this.getOneShop()
    this.getPriseList()
  },
  watch: {
    parent_id(val) {
      this.locationsList.map(p => {
        if (+val === +p.id) {
          this.locationChildList = p.children
        }
      })
    },
    'price_list.key'(val) {
      if (val) {
        this.price_list.price = 1000
      }
    }
  },
  methods: {
    async getOneShop() {
      const { id } = this.$route.params
      if (id) {
        try {
          const { data: { data } } = await Shop.getOneShop(id)
          this.form = getValueByKey(this.form, data)
          if (data.price_lists.length)
            this.price_list= data.price_lists[0]
          this.form.is_tariff = this.form.is_tariff === true ? 1:0
          if (data.phones.length) {
            data.phones.forEach((p, index) => {
              this.phones[index] = {
                phone: p
              }
            })
          }

          await this.getLocationsList(data)

        } catch (err) {
          this.$setErrorFromServer({ error: err })
        }
      }
    },
    removePhone(index) {
      this.phones.splice(index, 1)
    },
    addPhone() {
      this.phones.push({ phone: null })
    },
    async save() {
      this.loading = true
      const { id } = this.$route.params
      try {
        if (id) {
          const formData = this.getFormData('PUT')
          await Shop.update(id, formData)
          this.$successNotify({ text: this.$t('notify.update') })
        } else {
          const formData = this.getFormData()
          await Shop.create(formData)
          this.$successNotify({ text: this.$t('notify.save') })
        }

        await this.$router.push({ name: 'side-menu-shop' })
      } catch (err) {
        this.$setErrorFromServer({ error: err })
        this.$setFormServer({ error: err, obs: this.$refs['form'] })
      } finally {
        this.loading = false
      }
    },
    async getLocationsList(item) {
      try {
        const { data: { data } } = await Locations.getLocationsList()
        this.locationsList = data ? data : []
        if (item) {
          if (this.locationsList.length) {
            this.locationsList.forEach(p => {
              if (+p.id === +item.location_id) {
                this.parent_id = item.location_id
                this.form.location_id = null
              } else {
                if (p.children && p.children.length) {
                  p.children.find(b => {
                    if (+b.id === +item.location_id) {
                      this.parent_id = p.id
                      this.form.location_id = b.id
                    }
                  })
                }
              }
            })
          }
        }
      } catch (err) {
        this.$setErrorFromServer({ error: err })
      }
    },
    getFormData: function(method) {
      const formData = new FormData()
      Object.keys(this.form).forEach(p => {
        if (typeof this.form[p] !== 'undefined' && this.form[p] !== null) {
          formData.append(p, this.form[p])
        }
      })
      if (this.phones) {
        this.phones.forEach((p, index) => {
          formData.append(`phones[${index}]`, clearingNumbers(p.phone))
        })
      }

      if (this.price_list.price)
        formData.append(`price_lists[${0}][price]`, this.price_list.price)
      if (this.price_list.key)
        formData.append(`price_lists[${0}][key]`, this.price_list.key)

      Object.keys(this.user).forEach(p => {
        formData.append(`user[${p}]`, this.user[p])
      })
      if (this.form.logo) {
        formData.append('logo', this.form.logo)
      }
      if (method) {
        formData.append('_method', method)
      }

      return formData
    },
    async getPriseList() {
      try {
        const { data: { data } } = await Price.getPriceList()
        this.priceList = data
      } catch (err) {
        this.$setErrorFromServer({ error: err })
      }
    },
    openPasswordDialog() {
      const { passwordChangeRef } = this.$refs
      passwordChangeRef.openDialog(this.form.user_id, this.form.username)
    }
  },
  computed: {
    statusList() {
      return [
        {
          value: 10,
          text: this.$t('active')
        },
        {
          value: 0,
          text: this.$t('notActive')
        }
      ]
    },
    list() {
      return [
        {
          value: 1,
          text: this.$t('yes')
        },
        {
          value: 0,
          text: this.$t('no')
        }
      ]
    }
  }
}
</script>

<style scoped>

</style>
