<template>
  <el-dialog v-model='dialog'>
    <template #title>
      <h2 class='text-lg font-medium mb-3'>{{$t('changeUsernamePassword')}}</h2>
    </template>
    <Form @submit='save' ref='form'>
      <div class='grid grid-cols-12 gap-4' style='margin-top: -35px'>
        <div class='intro-y col-span-12 lg:col-span-6'>
          <div class='mt-2'>
            <Field :modelValue='user.username' rules='required' name='username' v-slot='{ errors }'>
              <app-input
                :error-message='errors[0]'
                :placeholder="$t('login')"
                v-model='user.username'
              />
            </Field>
          </div>
        </div>
        <div class='intro-y col-span-12 lg:col-span-6'>
          <div class='mt-2'>
            <Field :modelValue='user.password' rules='required' name='password' v-slot='{ errors }'>
              <app-input
                :error-message='errors[0]'
                :placeholder="$t('password')"
                v-model='user.password'
              />
            </Field>
          </div>
        </div>
        <div class='intro-y col-span-12 lg:col-span-6'>
          <div class='mt-2'>
            <Field :modelValue='user.password_confirmation' rules='required' name='password_confirmation'
                   v-slot='{ errors }'>
              <app-input
                :error-message='errors[0]'
                :placeholder="$t('password_confirmation')"
                v-model='user.password_confirmation'
              />
            </Field>
          </div>
        </div>
      </div>
      <div class='flex mt-4'>
        <div style='flex-grow: 1'></div>
        <button class='btn mr-2' @click='dialog = false'>
          {{ $t('cancel') }}
        </button>
        <app-button class='btn btn-primary' :loading='loading'>
          {{ $t('save') }}
        </app-button>
      </div>
    </Form>
  </el-dialog>
</template>

<script>
import { ElDialog } from 'element-plus'
import AppInput from '../../ui-component/form/AppInput'
import { Field, Form } from 'vee-validate'
import AppButton from '../../ui-component/app-button/AppButton'
import Shop from '../../../service/pages/Shop'
import { service } from '../../../utils/LocalStorageService'

const FORM = {
  password: null,
  password_confirmation: null,
}

export default {
  name: 'ShopChangePasswordUsername',
  components: { AppButton, AppInput, Field, Form, ElDialog },
  data() {
    return {
      user: {
        ...FORM,
      },
      loading: false,
      dialog: false,
      id: null
    }
  },
  methods: {
    openDialog(id, username) {
      this.dialog = true
      const userType = service.getUserType()
      if(id) {
        this.id = id
      }
      if(userType === 'admin') {
        this.user.username = username
      } else {
        this.user.username = this.$store.getters.username
      }
    },
    save() {
      if(this.id) {
        this.adminChangePassword()
      } else {
        this.shopChangePassword()
      }
    },
    adminChangePassword() {
      this.user.user_id = this.id
      Shop.adminChangeUserPassword(this.user)
        .then(() => {
          this.$successNotify({ text: this.$t('notify.save') })
          this.dialog = false
        })
        .catch(err => {
          this.$setErrorFromServer({ error: err })
          this.$setFormServer({ error: err, obs: this.$refs['form'] })
        })
        .finally(() => {
          this.loading = false
        })
    },
    shopChangePassword() {
      Shop.shopChangeUserPassword(this.user)
        .then(() => {
          this.$successNotify({ text: this.$t('notify.save') })
          this.dialog = false
          service.removeToken()
          this.$router.push({ name: 'login' })
        })
        .catch(err => {
          this.$setErrorFromServer({ error: err })
          this.$setFormServer({ error: err, obs: this.$refs['form'] })
        })
        .finally(() => {
          this.loading = false
        })
    }
  }
}
</script>

<style scoped>

</style>
