<template>
  <el-dialog v-model='dialog'>
    <template #title>
      <h2 class='text-lg font-medium mb-5 pl-0'>{{ $t('upBalance') }}</h2>
    </template>
    <Form @submit='save' ref='form'>
      <div class='grid grid-cols-12 gap-4' style='margin-top: -35px'>
        <div class='intro-y col-span-12 lg:col-span-6'>
          <div class='mt-2'>
            <Field :modelValue='user.type' rules='required' name='type' v-slot='{ errors }'>
              <app-select
                :error-message='errors[0]'
                :placeholder="$t('type')"
                v-model='user.type'
                item-value='key'
                item-text='name'
                :items='paymentTypeList'
              />
            </Field>
          </div>
        </div>
        <div class='intro-y col-span-12 lg:col-span-6'>
          <div class='mt-2'>
            <Field :modelValue='user.amount' rules='required' name='amount'
                   v-slot='{ errors }'>
              <app-input
                :error-message='errors[0]'
                :placeholder="$t('amount')"
                v-model='user.amount'
              />
            </Field>
          </div>
        </div>
      </div>
      <div class='flex mt-4'>
        <div style='flex-grow: 1'></div>
        <button class='btn mr-2' @click='dialog = false'>
          {{ $t('cancel') }}
        </button>
        <app-button class='btn btn-primary' :loading='loading'>
          {{ $t('save') }}
        </app-button>
      </div>
    </Form>
  </el-dialog>
</template>

<script>
import { ElDialog } from 'element-plus'
import AppInput from '../../ui-component/form/AppInput'
import { Field, Form, useForm } from 'vee-validate'
import AppButton from '../../ui-component/app-button/AppButton'
import Shop from '../../../service/pages/Shop'
import AppSelect from '../../ui-component/app-select/AppSelect'
import Payment from '../../../service/pages/Payment'

const FORM = {
  type: null,
  amount: null
}

export default {
  name: 'ToUpBalance',
  components: { AppSelect, AppButton, AppInput, Field, Form, ElDialog },
  emits: { 'getData': null },
  setup() {
    const { resetForm } = useForm()

    return { resetForm }
  },
  data() {
    return {
      user: { ...FORM },
      loading: false,
      dialog: false,
      id: null,
      paymentTypeList: []
    }
  },
  created() {
    this.typeList()
  },
  methods: {
    openDialog(item) {
      this.dialog = true
      if (item) {
        this.id = item.id
      }
    },
    save() {
      this.loading = true
      Shop.toUpBalance(this.id, this.user)
        .then(() => {
          this.$successNotify({ text: this.$t('notify.save') })
          this.dialog = false
          this.$emit('getData')
        })
        .catch(err => {
          this.$setErrorFromServer({ error: err })
          this.$setFormServer({ error: err, obs: this.$refs['form'] })
        })
        .finally(() => {
          this.loading = false
        })
    },
    async typeList() {
      try {
        const { data: { data } } = await Payment.getPaymentType()
        this.paymentTypeList = data
      } catch (err) {
        this.$setErrorFromServer({ error: err })
      }
    }
  },
  watch: {
    dialog(val) {
      if (!val) {
        this.user = { ...FORM }
        this.$refs.form.resetForm()
      }
    }
  }
}
</script>

<style scoped>

</style>
