<template>
  <router-view />
  <notification />
  <transition name='loading'>
    <app-loading v-if='loading' />
  </transition>
</template>

<script>
import Notification from './components/ui-component/notification/Notification'
import AppLoading from './components/ui-component/app-loading/AppLoading'

export default {
  components: { AppLoading, Notification },
  computed: {
    loading() {
      return this.$store.state.loading
    }
  }
}
</script>


<style>
.loading-enter-active, .loading-leave-active {
  transition: opacity .3s ease;
}

.loading-enter, .loading-leave-to {
  opacity: 0;
}
</style>
