<template>
  <div style='overflow: hidden; max-height: 100vh'>
    <DarkModeSwitcher />
    <div class='container sm:px-10'>
      <div class='block xl:grid grid-cols-2 gap-4'>
        <!-- BEGIN: Login Info -->
        <div class='hidden xl:flex flex-col min-h-screen'>
          <a href='' class='-intro-x flex items-center pt-5'>
            <img
              class='logo-login-page'
              alt='Icewall Tailwind HTML Admin Template'
              style='width: 370px;'
              height='120'
              :src='require(`@/assets/img/logo-white.svg`)'
            />
          </a>
          <div class='my-auto' style='margin-top: 70px;'>
            <img
              alt='Icewall Tailwind HTML Admin Template'
              class='-intro-x mt-14 image-login-page'
              style='margin-left: -90px;'
              :src='require(`@/assets/img/bg.png`)'
            />
          </div>
        </div>
        <!-- END: Login Info -->
        <!-- BEGIN: Login Form -->
        <div class='h-screen xl:h-auto flex py-5 xl:py-0 my-10 xl:my-0'>
          <div
            class='my-auto mx-auto xl:ml-20 bg-white dark:bg-dark-1 xl:bg-transparent px-5 sm:px-8 py-8 xl:p-0 rounded-md shadow-md xl:shadow-none w-full sm:w-3/4 lg:w-2/4 xl:w-auto'
          >
            <h2
              class='intro-x font-bold text-2xl xl:text-3xl text-center xl:text-left'
            >
              {{ $t('loginPassword') }}
            </h2>
            <Form @submit='login' ref='form'>
              <div class='intro-x mt-8'>
                <Field
                  name='login'
                  :modelValue='form.username'
                  v-slot='{ errors }'
                  rules='required'
                >
                  <app-input
                    :error-message='errors[0]'
                    v-model='form.username'
                    :placeholder="$t('login')"
                  />
                </Field>
                <Field
                  name='password'
                  :modelValue='form.password'
                  v-slot='{ errors }'
                  rules='required'
                >
                  <app-input
                    class='mt-1'
                    :error-message='errors[0]'
                    v-model='form.password'
                    type='password'
                    :placeholder="$t('password')"
                  />
                </Field>
              </div>
              <div class='intro-x mt-3 xl:mt-8 text-center xl:text-left'>
                <app-button
                  class='btn btn-primary py-2 px-4 w-full xl:w-32 xl:mr-3 align-top'
                  :loading='loading'
                >
                  {{ $t('sign') }}
                </app-button>
              </div>
            </Form>
          </div>
        </div>
        <!-- END: Login Form -->
      </div>
    </div>
  </div>
</template>

<script>
import { defineComponent, onMounted } from 'vue'
import DarkModeSwitcher from '@/components/dark-mode-switcher/Main.vue'
import Auth from '../../service/auth/Auth'
import AppInput from '../../components/ui-component/form/AppInput'
import { service } from '../../utils/LocalStorageService'
import { Field, Form } from 'vee-validate'
import AppButton from '../../components/ui-component/app-button/AppButton'

export default defineComponent({
  components: {
    AppButton,
    AppInput,
    DarkModeSwitcher,
    Field,
    Form
  },
  setup() {
    onMounted(() => {
      cash('body')
        .removeClass('main')
        .removeClass('error-page')
        .addClass('login')
    })
  },
  data() {
    return {
      form: {
        username: '',
        password: ''
      },
      loading: false
    }
  },
  mounted() {
    this.$setErrorFromServer({ error: 'Error' })
  },
  methods: {
    async login() {
      this.loading = true
      try {
        const { data: { data } } = await Auth.fetchLogin(this.form)
        service.setToken(data.access_token)
        await this.me()
      } catch (err) {
        this.$setFormServer({ error: err, obs: this.$refs['form'] })
        this.$setErrorFromServer({ error: err })
      } finally {
        this.loading = false
      }
    },
    async me() {
      try {
        const { data: { data } } = await Auth.fetchMe()
        this.$successNotify({ text: this.$t('welcome') })
        setTimeout(() => {
          this.$router.push('dashboard')
        }, 200)
        service.setUserInfo(data.shop)
        this.$store.dispatch('getUserInfo', data)
        service.setUserType(data.type)
      } catch (err) {
        this.$setErrorFromServer({ error: err })
      }
    }
  }
})
</script>


<style>
@media screen and (max-width: 1700px) {
  .logo-login-page {
    width: 300px !important;
    margin-top: -30px;
  }
  .image-login-page {
    width: 500px !important;
    margin-left: 0 !important;
  }
}
@media screen and (max-width: 1550px) {
  .logo-login-page {
    width: 250px !important;
    margin-top: -60px;
  }
  .image-login-page {
    width: 500px !important;
    margin-left: 0 !important;
  }
}
</style>
