<template>
  <div>
    <Form @submit='save' ref='form'>
      <div class='flex justify-between my-4' style='justify-content: space-between'>
        <h2 class='text-lg font-medium' style='line-height: 20px'>{{ $route.params.id ? $t('update') : $t('create')
          }}</h2>
        <button class='btn btn-primary' type='submit'>
          Saving
          <LoadingIcon v-if='loading' icon='oval' color='white' class='w-4 h-4 ml-2' />
        </button>
      </div>
      <div class='grid grid-cols-12 gap-x-4 box p-4' v-if='!$route.params.id'>
        <div class='intro-y col-span-12 lg:col-span-6'>
          <div class='mt-2'>
            <Field :modelValue='form.first_name' rules='required' name='first_name' v-slot='{ errors }'>
              <app-input
                :error-message='errors[0]'
                :placeholder="$t('first_name')"
                v-model='form.first_name'
              />
            </Field>
          </div>
        </div>
        <div class='intro-y col-span-12 lg:col-span-6'>
          <div class='mt-2'>
            <Field :modelValue='form.last_name' rules='required' name='last_name' v-slot='{ errors }'>
              <app-input
                :error-message='errors[0]'
                :placeholder="$t('last_name')"
                v-model='form.last_name'
              />
            </Field>
          </div>
        </div>
        <div class='intro-y col-span-12 lg:col-span-6'>
          <div class='mt-2'>
            <Field :modelValue='form.middle_name' rules='required' name='middle_name' v-slot='{ errors }'>
              <app-input
                :error-message='errors[0]'
                :placeholder="$t('middle_name')"
                v-model='form.middle_name'
              />
            </Field>
          </div>
        </div>
        <div class='intro-y col-span-12 lg:col-span-6'>
          <div class='mt-2'>
            <Field :modelValue='form.passport_series' rules='required' name='passport_series' v-slot='{ errors }'>
              <app-input
                maxlength='2'
                :error-message='errors[0]'
                :placeholder="$t('passport_series')"
                v-model='form.passport_series'
              />
            </Field>
          </div>
        </div>
        <div class='intro-y col-span-12 lg:col-span-6'>
          <div class='mt-2'>
            <Field :modelValue='form.passport_number' rules='required' name='passport_series' v-slot='{ errors }'>
              <app-input
                v-maska="'#######'"
                :placeholder="$t('passport_number')"
                v-model='form.passport_number'
              />
            </Field>
          </div>
        </div>
        <div class='intro-y col-span-12 lg:col-span-6'>
          <div class='mt-2'>
            <Field :modelValue='form.pinfl' rules='required' name='passport_series' v-slot='{ errors }'>
              <app-input
                :placeholder="$t('pinfl')"
                v-model='form.pinfl'
              />
            </Field>
          </div>
        </div>
        <div class='intro-y col-span-12 lg:col-span-6'>
          <div class='mt-2'>
            <Field :modelValue='form.inn' rules='required' name='passport_series' v-slot='{ errors }'>
              <app-input
                v-maska="'#########'"
                :placeholder="$t('tin')"
                v-model='form.inn'
              />
            </Field>
          </div>
        </div>
        <div class='intro-y col-span-12 lg:col-span-6'>
          <div class='mt-2'>
            <date-picker
              :placeholder="$t('birthday')"
              v-model='form.birthday'
            />
          </div>
        </div>
        <div class='intro-y col-span-12 lg:col-span-6'>
          <div id='basic-select'>
            <div class='preview'>
              <!-- BEGIN: Basic Select -->
              <div>
                <div class='mt-2'>
                  <Field
                    v-slot='{ errors }'
                    :model-value='parent_id'
                    name='parent_id'>
                    <app-select
                      v-model='parent_id'
                      :error-message='errors[0]'
                      :items='locationsList'
                      item-value='id'
                      item-text='name'
                      :placeholder="$t('region')"
                    >
                    </app-select>
                  </Field>
                </div>
              </div>
              <!-- END: Basic Select -->
              <!-- BEGIN: Nested Select -->
              <!-- END: Nested Select -->
            </div>
          </div>
        </div>
        <div class='intro-y col-span-12 lg:col-span-6 mt-2'>
          <Field
            v-slot='{ errors }'
            :model-value='form.location_id'
            name='location_id'>
            <app-select
              v-model='form.location_id'
              :error-message='errors[0]'
              :items='locationChildList'
              item-value='id'
              item-text='name'
              :placeholder="$t('region')"
            >
            </app-select>
          </Field>
        </div>
        <div class='intro-y col-span-12 lg:col-span-6'>
          <Field
            v-slot='{ errors }'
            :model-value='form.gender'
            name='location_id'>
            <app-select
              v-model='form.gender'
              :error-message='errors[0]'
              :items='genderList'
              item-value='value'
              item-text='text'
              :placeholder="$t('gender')"
            >
            </app-select>
          </Field>
        </div>
      </div>
      <div class='multiple-shops grid grid-cols-12 gap-4 box p-4 mt-4' v-for='(item, shopIndex) in form.shops'
           :key='`shop${shopIndex}`'>
        <div class='intro-y col-span-12 lg:col-span-6'>
          <div class='mt-2'>

            <date-picker
              v-model='item.credit_started_date'
              :placeholder="$t('credit_started_date')"
            >
            </date-picker>
          </div>
        </div>
        <div class='intro-y col-span-12 lg:col-span-6'>
          <div class='mt-2'>

            <div class='relative w-100% mx-auto'>
              <date-picker
                v-model='item.last_paid_date'
                :placeholder="$t('last_paid_date')"
              >
              </date-picker>
            </div>
          </div>
        </div>
        <div class='intro-y col-span-12 lg:col-span-6'>
          <div class='mt-2'>

            <app-input
              type='number'
              :placeholder="$t('credit_amount')"
              v-model='item.credit_amount'
            />
          </div>
        </div>
        <div class='intro-y col-span-12 lg:col-span-6'>
          <div class='mt-2'>

            <app-input
              type='number'
              :placeholder="$t('credit_debt')"
              v-model='item.credit_debt'
            />
          </div>
        </div>
        <div class='intro-y col-span-12 lg:col-span-6'>
          <div class='mt-2'>
            <Field :modelValue='item.comment' rules='required' name='comment' v-slot='{ errors }'>

              <app-input
                :error-message='errors[0]'
                :placeholder="$t('comment')"
                v-model='item.comment'
              />
            </Field>
          </div>
        </div>
        <div class='intro-y col-span-12 lg:col-span-6'>
          <div class='mt-2'>
            <Field :modelValue='item.phone' rules='required' name='phone' v-slot='{ errors }'>

              <app-input
                :error-message='errors[0]'
                :placeholder="$t( 'phone')"
                v-model='item.phone'
              />
            </Field>
          </div>
        </div>
        <div class='intro-y col-span-12 lg:col-span-6'>
          <div class='mt-2'>
            <Field :modelValue='item.address' rules='required' name='address' v-slot='{ errors }'>
              <app-input
                :error-message='errors[0]'
                :placeholder="$t('address')"
                v-model='item.address'
              />
            </Field>
          </div>
        </div>
        <div class='intro-y col-span-12 lg:col-span-6'>
          <div class='mt-2'>
            <app-input
              :placeholder="$t('monthly_payment')"
              type='number'
              v-model='form.shops[shopIndex].monthly_payment'
            />
          </div>
        </div>
        <div class='intro-y col-span-12 lg:col-span-6 pt-2'>
          <div class='btn btn-primary' @click='addShop' v-if='shopIndex === form.shops.length-1'>
            {{ $t('addShop') }}
            <plus-icon class='ml-2' size='14' />
          </div>
        </div>
        <div class='close-icon-btn' v-if='shopIndex > 0' @click='removeShop(shopIndex)'>
          <x-icon size='1x' />
        </div>
      </div>
    </Form>
  </div>
</template>

<script>
import { maska } from 'maska'
import { ref } from 'vue'
import AppInput from '../../ui-component/form/AppInput'
import ShopCabinet from '../../../service/pages/ShopCabinet'
import { Form, Field } from 'vee-validate'
import Locations from '../../../service/pages/Locations'
import AppSelect from '../../ui-component/app-select/AppSelect'
import DatePicker from '../../ui-component/form/DatePicker'

const FORM = {
  middle_name: null,
  passport_series: null,
  passport_number: null,
  pinfl: null,
  inn: null,
  location_id: '',
  gender: null,
  birthday: null,
  shops: [
    {
      credit_started_date: '',
      last_paid_date: '',
      credit_amount: null,
      credit_debt: null,
      comment: null,
      phone: null,
      address: null,
      monthly_payment: null
    }
  ]
}

export default {
  directives: { maska },
  name: 'CreateUpdateShopCabinet',
  components: {
    DatePicker,
    AppSelect,
    AppInput,
    Field,
    Form
  },
  setup() {
    const select = ref('1')
    const selectMultiple = ref(['1', '3'])
    const selectHeader = ref(['2', '3', '5'])

    return {
      select,
      selectMultiple,
      selectHeader
    }
  },
  data() {
    return {
      form: { ...FORM },
      loading: false,
      email: '',
      locationsList: [],
      locationChildList: [],
      parent_id: '',
      locationOptions: {
        placeholder: this.$t('locations')
      },
      parentOptions: {
        placeholder: this.$t('locations')
      },
      shopCabinetData: {}
    }
  },
  created() {
    this.getLocationsList()
    this.getOneShopCabinet()
  },
  methods: {
    removeShop(index) {
      this.form.shops.splice(index, 1)
    },
    addShop() {
      this.form.shops.push({
        credit_started_date: '',
        last_paid_date: '',
        credit_amount: null,
        credit_debt: null,
        comment: null,
        phone: null,
        address: null
      })
    },
    async save() {
      const { id } = this.$route.params
      try {
        if (id) {
          await ShopCabinet.update(id, this.form.shops)
        } else {
          await ShopCabinet.create(this.form)
        }
        this.$successNotify({ text: this.$t('notify.save') })

        await this.$router.push({ name: 'side-menu-shop-cabinet' })
      } catch (err) {
        this.$setErrorFromServer({ error: err })
        this.$setFormServer({ error: err, obs: this.$refs['form'] })
      }
    },
    async getLocationsList() {
      try {
        const { data: { data } } = await Locations.getListForShopCabinet()
        this.locationsList = data ? data : []
      } catch (err) {
        this.$setErrorFromServer({ error: err })
      }
    },
    async getOneShopCabinet() {
      const { id } = this.$route.params
      if (id) {
        try {
          const { data: { data } } = await ShopCabinet.getOneShopCabinet(id)
          this.form.shops = data.shops
        } catch (err) {
          this.$setErrorFromServer({ error: err })
        }
      }
    }
  },
  computed: {
    genderList() {
      return [
        {
          text: this.$t('female'),
          value: 'f'
        },
        {
          text: this.$t('male'),
          value: 'm'
        }
      ]
    }
  },
  watch: {
    parent_id(val) {
      this.locationsList.map(p => {
        if (+val === +p.id) {
          this.locationChildList = p.children
        }
      })
    }
  }
}
</script>

<style scoped>

</style>
