<template>
  <div class='intro-y box mt-5'>
    <div id='striped-rows-table' class='p-5'>
      <div class='preview'>
        <div class='overflow-x-auto'>
          <table class='table'>
            <thead>
            <tr>
              <th
                v-for='(header, headerIndex) in headers' :key='`header${headerIndex}`'
                class='border-b-2 dark:border-dark-5 whitespace-nowrap'
              >
                {{ header.text }}
              </th>
            </tr>
            </thead>
            <tbody>
            <tr
              :class="{'bg-gray-200 dark:bg-dark-1' : bodyIndex%2===0}"
              v-for='(item, bodyIndex) in items'
              :key='`body${bodyIndex}`'
            >
              <td
                class='border-b dark:border-dark-5'
                v-for='(headerForBody, IBodyH) in headers'
                :key='`headerForBody${IBodyH}`'
              >
                <div v-if="slotNames[headerForBody.value] === headerForBody.value">
                  <slot :name='`${slotName}.${headerForBody.value}`' :item="item" :index="bodyIndex" />
                </div>
                <div v-else>
                  {{ item[headerForBody['value']] }}
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class='mt-4' v-if='!items.length'>
        <slot name='not-data' />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'AppTable',
  props: {
    items: {
      type: Array,
      default: () => {
        return []
      }
    },
    headers: {
      type: Array,
      default: () => {
        return []
      }
    }
  },
  data() {
    return {
      slotNames: {},
      childSlotNames: {},
      parentSlotNames: {},
      slotName: 'item',
      elementId: null
    }
  },
  mounted() {
    this.disconnectSlots()
  },
  methods: {
    disconnectSlots() {
      const slotNameLength = this.slotName.length + 1
      Object.keys(this.$slots).forEach(p => {
        if (p.includes(this.slotName))
          this.slotNames[p.slice(slotNameLength)] = p.slice(slotNameLength)
      })
    },
  }
}
</script>

<style scoped>

</style>
