<template>
  <div class='mt-3 box p-2 header-group-table'>
    <el-table
      :data='items'
      style='width: 100%'
    >
      <el-table-column
        v-for='header in headers'
        :label='header.text'
        :width="header.width ? header.width : ''"
      >
        <template v-if='header.children' slot-scope="scope">
          <el-table-column
            v-for='child in header.children'
            :prop='child.value'
            :label='child.text'
            :width="header.width ? header.width : ''"
          >
            <button @click='open(scope)' class='btn'>
              test
            </button>
          </el-table-column>
        </template>
        <template v-else>
          <el-table-column
            :prop='header.value'
            :width="header.width ? header.width : ''"
          >
          </el-table-column>
        </template>
      </el-table-column>
    </el-table>
  </div>
</template>


<script>
import { ElTable, ElTableColumn } from 'element-plus'

export default {
  name: 'HeaderTable',
  components: { ElTable, ElTableColumn },
  props: {
    items: {
      type: Array,
      default() {
        return []
      }
    },
    headers: {
      type: Array,
      default() {
        return []
      }
    },
  },
  data() {
    return {
    }
  },
  methods: {
    open(val) {
      console.log(val)
    }
  }
}
</script>
<style lang='scss'>
.header-group-table {
  th {
    .cell {
      font-family: Roboto, sans-serif !important;
      font-weight: 500 !important;
      font-size: 13px !important;
      color: black;
    }
  }
  td {
    .cell {
      font-family: Roboto, sans-serif !important;
      font-weight: 400 !important;
      font-size: 13px !important;
      color: black;
    }
  }
}
</style>
