<template>
  <div>
    <div class='intro-y flex items-center mt-8'>
      <h2 class='text-lg font-medium mr-auto'>{{ $t('regions') }}</h2>

      <button class='btn btn-primary' @click='openDialog'>
        {{ $t('create') }}
      </button>
    </div>
    <app-table
      :headers='headers'
      :items='items'
    >
      <template #item.actions='{ item }'>
        <button class='btn btn-warning mr-2' @click='openDialog(item)'>
          <edit-icon size='16' />
        </button>
        <button class='btn btn-danger mr-2' @click='openDeleteDialog(item)'>
          <trash-icon size='16' />
        </button>
      </template>
      <template #item.status='{ item }'>
        <button :class="['btn', { 'btn-outline-success' : item['status'] === 10 }, { 'btn-outline-danger' : item['status'] === 0 } ]">
          {{ item.status_name }}
        </button>
      </template>
      <template #item.region='{ item }'>
        <div v-if='item.location && item.location.name'>
          {{ item.location.name }}
        </div>
      </template>
    </app-table>
    <app-pagination
      :total='pageCount'
      @input='selectedPage'
    />

  </div>
  <create-update-locations
    :form='form'
    ref='form'
    @getData='getLocations'
  />
  <delete-modal
    v-model='deleteDialog'
    :loading='deleteLoading'
    @deleteItem='deleteItem'
  />
</template>

<script>
import AppTable from '../../../components/ui-component/app-table/AppTable'
import locations from '../../../service/pages/Locations'
import CreateUpdateLocations from '../../../components/pages/locations/CreateUodate'
import AppPagination from '../../../components/ui-component/app-pagination/AppPagination'
import AppSelect from '../../../components/ui-component/app-select/AppSelect'
import DeleteModal from '../../../components/ui-component/delete-modal/DeleteModal'

const FORM = {
  name_uz: null,
  name_ru: null,
  name_en: null,
  parent_id: null,
  status: null
}

export default {
  name: 'locations',
  components: { DeleteModal, AppSelect, AppPagination, CreateUpdateLocations, AppTable },
  data() {
    return {
      deleteLoading: false,
      deleteDialog: false,
      select: null,
      items: [],
      pageCount: 0,
      params: {
        page: 1
      },
      loading: false,
      form: { ...FORM },
      dialog: true,
      deleteInfo: {}
    }
  },
  created() {
    this.getLocations()
  },
  methods: {
    async getLocations() {
      this.$showLoading()
      try {
        const { data: { data, links } } = await locations.getLocations({ ...this.params })
        this.items = data
        this.pageCount = links.last_page
      } catch (err) {
        this.$setErrorFromServer({error: err})
      } finally {
        this.$clearLoading()
      }
    },
    deleteItem() {
      this.deleteLoading = true
      locations.deleteItem(this.deleteInfo.id).then(() => {
        this.$successNotify({
          text: this.$t('notify.delete')
        })
        this.getLocations()
        this.deleteDialog = false
      })
      .catch(err => {
        this.$setErrorFromServer({error: err})
      })
      .finally(() => {
        this.deleteLoading = false
      })
    },
    openDeleteDialog(item) {
      this.deleteDialog = true
      this.deleteInfo = item
    },
    selectedPage(val) {
      this.params.page = val
      this.getLocations()
    },
    openDialog(item) {
      const { form } = this.$refs
      item ? form.openDialog(item) : form.openDialog()
    }
  },
  computed: {
    headers() {
      return [
        { text: this.$t('name'), value: 'name' },
        { text: this.$t('region'), value: 'region' },
        { text: this.$t('status'), value: 'status' },
        { text: this.$t('actions'), value: 'actions' }
      ]
    }
  }
}
</script>

<style scoped>

</style>
