<template>
  <div class='box p-3 grid grid-cols-12 gap-x-4 box p-4'>
    <div class='intro-y col-span-12 lg:col-span-3' v-if="userType === 'admin'">
      <app-select
        v-model='shops.shops_id'
        :placeholder="$t('branches')"
        :items='shopList'
        item-value='id'
        multiple
        hide-details
        collapse-tags
        :loading='shopLoading'
        clearable
        item-text='company_name'
        @change='branchesFilter'
      >
        <template #item='{ index }'>
          <div v-if='index === 0' style='color: black; font-weight: bold' @click='selectAll = !selectAll'>
            {{ $t('selectAll') }}
          </div>
        </template>
      </app-select>
    </div>
    <div class='intro-y col-span-12 lg:col-span-3'>
      <date-picker
        hide-details
        v-model='filter.from'
        :placeholder="$t('from_date')"
        @change='filterShop'
      />
    </div>
    <div class='intro-y col-span-12 lg:col-span-3'>
      <date-picker
        v-model='filter.to'
        :placeholder="$t('to_date')"
        @change='filterShop'
      />
    </div>
  </div>
</template>

<script>
import DatePicker from '../../../components/ui-component/form/DatePicker'
import AppSelect from '../../../components/ui-component/app-select/AppSelect'
import { debounce } from '../../../utils/helperFunction'
import Shop from '../../../service/pages/Shop'
import { service } from '../../../utils/LocalStorageService'

export default {
  name: 'FilterReport',
  components: { AppSelect, DatePicker },
  props: {
    filter: {
      type: Object,
      default() {
        return {}
      }
    },
    shops: {
      type: Object,
      default() {
        return {};
      }
    }
  },
  data() {
    return {
      shopList: [],
      selectAll: false,
      shopLoading: false
    }
  },
  watch: {
    selectAll(val) {
      if(val && this.shops.shops_id && !this.shops.shops_id.length) {
        this.shopList.forEach(p => {
          this.shops.shops_id.push(p.id)
        })
      } else {
        this.shops.shops_id = []
      }
    },
    'shops.shops_id'(val) {
      if(val.length && val[0] === 0) {
        this.shops.shops_id = []
      }
    }
  },
  created() {
    this.getPaymentTypes()
  },
  methods: {
    filterShop() {
      this.$emit('filterShop')
    },
    async getPaymentTypes() {
      if(this.userType === 'admin') {
        this.shopLoading = true
        try {
          const { data: { data } } = await Shop.getList()
          data.unshift({
            id: 0,
            company_name: this.$t('selectAll')
          })
          this.shopList = data
        } catch (err) {
          this.$setErrorFromServer({ error: err })
        } finally {
          this.shopLoading = false
        }
      }
    },
    branchesFilter: debounce(function() {
      this.$emit('filterShop')
    }, 1000)
  },
  computed: {
    userType() {
      return service.getUserType()
    }
  }
}
</script>

<style scoped>

</style>
