<template>
  <div>
    <div class='intro-y flex items-center mt-8'>
      <h2 class='text-lg font-medium mr-auto'>{{ $t('report') }}</h2>
      <div class='mb-2'>
        <button @click='openExelDialog' :disabled='exelLoading' class='btn-outline-warning btn'>
          <file-icon size='14' class='mr-2' />
          {{ $t('exportTo') }}
        </button>
      </div>
    </div>
    <filter-report
      @filterShop='filterShop'
      :filter='params'
      :shops='shops'
    />
    <custom-table
      :headers='headers'
      :items='items'
    >
      <template #not-data>
        <div style='text-align: center'>
          {{ $t('notFound') }}
        </div>
      </template>
      <template #item.phones='{ item }'>
        <div
          style='min-width: 110px'
          v-for='(phone, phoneIndex) in item.phones'
          :key='`phone${phoneIndex}`'
        >
          {{ formatPhone(phone) }}
        </div>
      </template>
      <template #item.count='{ item }'>
        <div v-if="item['blue-system'] && item['blue-system'].count !== null">
          {{ item['blue-system'].count }}
        </div>
      </template>
      <template #item.sum='{ item }'>
        <div v-if="item['blue-system'] && item['blue-system'].price !== null">
          {{ item['blue-system'].price }}
        </div>
      </template>
      <template #item.price='{ item }'>
        <div v-if="item['blue-system'] && item['blue-system'].sum !== null">
          {{ item['blue-system'].sum }}
        </div>
      </template>
      <template #item.balance='{ item }'>
        <div v-if='+item.balance > 1' style='color: #368a3e'>
          {{ item.balance }}
        </div>
        <div v-if='+item.balance < 0' style='color: #b44646'>
          {{ item.balance }}
        </div>
        <div v-if='+item.balance === 0' style='color: #666666'>
          {{ item.balance }}
        </div>
      </template>
      <template #item.actions='{ item }'>
        <button class='btn btn-primary' @click='payment(item)' v-if="item.id !== '#'">
          <plus-icon size='16' />
        </button>
      </template>
    </custom-table>
  </div>
  <ToUpBalanceReport
    ref='reportBalanceUpRef'
    @getData='getTransactions'
  />
  <up-balance-shop
    ref='upBalanceRef'
    @getData='getTransactions'
  />
</template>

<script>
import AppPagination from '../../../components/ui-component/app-pagination/AppPagination'
import { debounce, downloadBlobFile, phoneFormat } from '../../../utils/helperFunction'
import FilterReport from './filter'
import Report from '../../../service/pages/Report'
import { service } from '../../../utils/LocalStorageService'
import ToUpBalanceReport from '../../../components/pages/report/ToUpBalanceModal'
import UpBalanceShop from '../../../components/pages/report/UpBalanceShop'
import CustomTable from '../../../components/ui-component/app-table/ElCustomTable'

export default {
  components: { CustomTable, UpBalanceShop, ToUpBalanceReport, FilterReport, AppPagination },
  data() {
    return {
      items: [],
      pageCount: 0,
      params: {
        from: '',
        to: '',
        payment_type: null,
        status: null
      },
      loading: false,
      shops: {
        shops_id: []
      },
      exelLoading: false
    }
  },
  computed: {
    headers() {
      return [
        { text: this.$t('ID'), value: 'id', width: '50px' },
        { text: this.$t('brand'), value: 'brand_name' },
        { text: this.$t('company_name'), value: 'company_name' },
        { text: this.$t('address'), value: 'address' },
        { text: this.$t('phone'), value: 'phones' },
        { text: this.$t('balance'), value: 'balance' },
        { text: this.$t('upBalance'), value: 'actions' },
        { text: this.$t('upBalance'), value: 'count' },
        { text: this.$t('upBalance'), value: 'sum' },
        { text: this.$t('upBalance'), value: 'price' }
      ]
    },
    userType() {
      return service.getUserType()
    }
  },
  created() {
  },
  methods: {
    async openExelDialog() {
      this.exelLoading = true
      try {
        let data = {}
        const params = {
          excel: true
        }
        const userType = service.getUserType()
        if (userType === 'admin') {
          data = await Report.getReportAdmin(params)
        } else {
          data = await Report.getReport(params)
        }
        if (data.data)
          downloadBlobFile(data.data, `${this.$t('report')}.xlsx`)
      } catch (err) {
        this.$setErrorFromServer({ error: err })
      } finally {
        this.exelLoading = false
      }
    },
    payment(item) {
      if (this.userType === 'admin') {
        const { reportBalanceUpRef } = this.$refs
        reportBalanceUpRef.openDialog(item)
      }
      if (this.userType === 'shop') {
        const { upBalanceRef } = this.$refs
        upBalanceRef.openDialog()
      }
    },
    formatPhone(phone) {
      return phoneFormat(phone)
    },
    async getTransactions() {
      let params = {}
      Object.keys(this.params).forEach(p => {
        if (this.params[p]) {
          params[p] = this.params[p]
        }
      })
      if (this.shops.shops_id.length) {
        params.shops_id = this.shops.shops_id
      }
      const userType = service.getUserType()
      this.$showLoading()
      try {
        if (userType === 'admin') {
          const { data: { data } } = await Report.getReportAdmin({ ...params })
          this.items = data
        }
        if (userType === 'shop') {
          const { data: { data } } = await Report.getReport({ ...params })
          this.items = [data]
        }
      } catch (err) {
        this.$setErrorFromServer({ error: err })
      } finally {
        this.$clearLoading()
      }
    },
    filterShop: debounce(function() {
      this.getTransactions()
    }, 300)
  }
}
</script>

<style scoped>

</style>
