<template>
  <div class='app-pagination' v-if='total > 1'>
    <v-pagination
      v-model='modelValue'
      :pages='total'
      :range-size='1'
      active-color='#DCEDFF'
      @update:modelValue='updateHandler'
    />
  </div>
</template>

<script>
import VPagination from '@hennge/vue3-pagination'
import '@hennge/vue3-pagination/dist/vue3-pagination.css'
import { ref } from 'vue'

export default {
  name: 'AppPagination',
  components: { VPagination },
  props: {
    modelValue: {
      type: Number,
      default() {
        return 1
      }
    },
    total: {
      type: Number,
      default() {
        return 1
      }
    }
  },
  emits: { 'update:modelValue': null },
  setup() {
    const page = ref(1)

    return { page }
  },
  methods: {
    updateHandler(val) {
      this.$emit('update:modelValue', val)
      this.$emit('input', val)
    }
  }
}
</script>

<style lang='scss'>
.app-pagination {
  margin-top: 20px;
  .Pagination {
    li {
      button {
        font-size: 17px;
        padding: 16px;
        border: 1px solid transparent;
        transition: .2s all;
        &:hover {
          border-color: lightgray;
        }
      }
    }
  }
}
</style>
