<template>
  <div>
    <div class='intro-y flex items-center mt-8'>
      <h2 class='text-lg font-medium mr-auto'>{{ $t('price') }}</h2>
      <button class='btn btn-primary mr-1 mb-2' @click='openDialog'>
        {{ $t('create') }}
      </button>
    </div>
    <app-table
      :headers='headers'
      :items='items'
    >
      <template #item.actions='{ item }'>
        <button class='btn btn-warning' @click='openDialog(item)'>
          <edit-icon size='14' />
        </button>
      </template>
    </app-table>
    <app-pagination
      :total='pageCount'
      @input='selectedPage'
    />
    <create-update-price ref='createUpdatePrice' @getData='getPriceLists' />

  </div>
</template>

<script>
import AppTable from '../../../components/ui-component/app-table/AppTable'
import PriceList from '../../../service/pages/Price'
import CreateUpdatePrice from '../../../components/pages/price/createUpdatePrice.vue'
import AppPagination from '../../../components/ui-component/app-pagination/AppPagination'

export default {
  name: 'PriceList',
  components: { AppPagination, CreateUpdatePrice, AppTable },
  data() {
    return {
      items: [],
      pageCount: 0,
      params: {
        page: 1
      },
      loading: false
    }
  },
  created() {
    this.getPriceLists()
  },
  methods: {
    async getPriceLists() {
      this.$showLoading()
      try {
        const { data: { data, links } } = await PriceList.getPriceList({ ...this.params })
        this.items = data
        // this.pageCount = links.last_page
      } catch (err) {
        this.$setErrorFromServer({error: err})
      } finally {
        this.$clearLoading()
      }
    },
    selectedPage(val) {
      this.params.page = val
      this.getPriceLists()
    },
    openDialog(item) {
      const {createUpdatePrice} = this.$refs
      if(item) {
        createUpdatePrice.openDialog(item)
      } else {
        createUpdatePrice.openDialog()
      }
    }
  },
  computed: {
    headers() {
      return [
        { text: this.$t('shopKey'), value: 'name' },
        { text: this.$t('default_price'), value: 'default_price' },
        { text: this.$t('bonus') + ' (%)', value: 'bonus' },
        { text: this.$t('actions'), value: 'actions' }
      ]
    },
  }
}
</script>

<style scoped>

</style>
