<template>
  <create-update-shop-cabinet/>
</template>

<script>
import CreateUpdateShopCabinet from '../../../components/pages/shop-cabinet/CreateUpdate'

export default {
  components: { CreateUpdateShopCabinet }
}
</script>

<style scoped>

</style>
