<template>
  <div>
    <div class='intro-y flex items-center mt-8'>
      <h2 class='text-lg font-medium mr-auto'>{{ $t('blacklist') }}</h2>

      <a
        class='btn btn-outline-warning mr-2 mb-2'
        href='https://api.blueinfo.uz/storage/exapmle.xlsx'
        download
      >
        <file-icon size='16' class='mr-2' />
        {{ $t('importTemplate') }}
      </a>
      <div class='mb-2 mr-2'>
        <app-button :loading='exelLoading' @click='$refs.exelLoading.click()' class='btn-outline-warning'>
          {{ $t('importExel') }}
        </app-button>
        <input
          style='display: none'
          type='file'
          ref='exelLoading'
          @change='exportExel'
          multiple
        >
      </div>
      <button class='btn btn-primary mr-1 mb-2' @click='createShopCabinet'>
        {{ $t('create') }}
      </button>
    </div>
    <app-table
      :headers='headers'
      :items='items'
    >
      <template #item.actions='{ item }'>
        <button class='btn btn-primary mr-2' @click='openViewDialog(item)'>
          <eye-icon size='16' />
        </button>
        <button class='btn btn-warning mr-2' @click='editItem(item)'>
          <edit-icon size='16' />
        </button>
        <button class='btn btn-danger mr-2' @click='openDeleteDialog(item)'>
          <trash-icon size='16' />
        </button>
      </template>
    </app-table>
    <app-pagination
      :total='pageCount'
      @input='selectedPage'
    />
    <delete-modal
      v-model='deleteDialog'
      :loading='deleteLoading'
      @deleteItem='deleteItem'
    />
  </div>
</template>

<script>
import AppTable from '../../../components/ui-component/app-table/AppTable'
import ShopCabinet from '../../../service/pages/ShopCabinet'
import AppPagination from '../../../components/ui-component/app-pagination/AppPagination'
import DeleteModal from '../../../components/ui-component/delete-modal/DeleteModal'
import AppButton from '../../../components/ui-component/app-button/AppButton'

export default {
  name: 'ShopCabinet',
  components: { AppButton, DeleteModal, AppPagination, AppTable },
  data() {
    return {
      items: [],
      pageCount: 0,
      params: {
        page: 1
      },
      loading: false,
      deleteLoading: false,
      deleteDialog: false,
      deleteInfo: {},
      exelLoading: false
    }
  },
  created() {
    this.getShopCabinet()
  },
  methods: {
    openViewDialog(item) {
      let routeData = this.$router.resolve({
        name: 'home-view',
        params: { id: item.id, user: 'shop-babinet' },
        query: { pinfl: item.pinfl }
      })
      window.open(routeData.href, '_blank')
    },
    exportExel(val) {
      this.exelLoading = true
      const file = val.target.files[0]
      const formData = new FormData()
      formData.append('file', file)
      ShopCabinet.importExel(formData)
        .then(() => {
          this.$successNotify({
            text: this.$t('notify.imported')
          })
          this.getShopCabinet()
        })
        .catch(err => {
          this.$setErrorFromServer({ error: err })
        })
        .finally(() => {
          this.exelLoading = false
        })
    },
    createShopCabinet() {
      this.$router.push({ name: 'side-menu-shop-cabinet-form' })
    },
    async getShopCabinet() {
      this.$showLoading()
      try {
        const { data: { data, links } } = await ShopCabinet.getShopCabinet({ ...this.params })
        this.items = data
        this.pageCount = links.last_page
      } catch (err) {
        this.$setErrorFromServer({ error: err })
      } finally {
        this.$clearLoading()
      }
    },
    selectedPage(val) {
      this.params.page = val
      this.getShopCabinet()
    },
    editItem(item) {
      this.$router.push({ name: 'side-menu-shop-cabinet-form', params: { id: item.id } })
    },
    deleteItem() {
      this.deleteLoading = true
      ShopCabinet.deleteItem(this.deleteInfo)
        .then(() => {
          this.$successNotify({
            text: 'deleted'
          })
          this.getShopCabinet()
          this.deleteDialog = false
        })
        .catch(err => {
          this.$setErrorFromServer({ error: err })
        })
        .finally(() => {
          this.deleteLoading = false
        })
    },
    openDeleteDialog(item) {
      this.deleteDialog = true
      this.deleteInfo = item
    }
  },
  computed: {
    headers() {
      return [
        { text: this.$t('ID'), value: 'id' },
        { text: this.$t('first_name'), value: 'first_name' },
        { text: this.$t('last_name'), value: 'last_name' },
        { text: this.$t('middle_name'), value: 'middle_name' },
        { text: this.$t('tin'), value: 'inn' },
        { text: this.$t('actions'), value: 'actions' }
      ]
    }
  }
}
</script>

<style scoped>

</style>
