.close-icon-btn {
  width: 20px;
  height: 20px;
  background: #ff484a;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: -9px;
  top: -9px;
  cursor: pointer;
}


.errors-select {
  .ts-input {
    border-color: red !important;
  }
}


.error-messages-class {
  color: red;
  min-height: 10px;
  font-size: 13px;
  line-height: 10px;
  display: block;
  margin-top: 3px;
}

.multiple-shops {
  position: relative;
}


.el-dialog__body {
  padding: 10px !important;
}





.dark {
  .el-select__popper {
    background: rgba(35, 42, 59, 1) !important;
    border: none !important;
  }
  .el-input__inner {
    background: rgba(35, 42, 59, 1);
    border: none
  }
  .el-dialog {
    background: #1e2533;
  }
}


.btn-outline-warning {
  color: #e6a23c;
  border: 1px solid #e6a23c;
  &:hover {
    color: white;
  }
}

.background-for-view-home {
  background: white;
}

.login {
  overflow: hidden !important;
  max-height: 123vh !important;
}


.shop-page .el-switch__label.is-active span {
  color: #28b336;
}

.shop-page .el-switch__label span {
  color: #ff4949;
}